<!-- <p>
  full-layout works!
</p>
<a routerLink="/modules/baseline" class="btn btn-primary">Go to baseline</a>
<a routerLink="/dashboard" class="btn btn-primary">Go to dashboard</a>
<a routerLink="/level-selection" class="btn btn-primary">Go to level-selection</a> -->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i>
        {{'Dashboard.Dashboard' | translate}}</a>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]="['/modules/baseline']">baseline</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <img src="../../assets/img/dash_logo.png" alt="">
        <button type="button" id="sidebarCollapse" class="btn btn-default ml-5 ripple">
          <i class="fas fa-align-left"></i>
        </button>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
            (change)="langChange($event)" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="nav navbar-nav ml-auto">
            <div class="dropdown">
              <span class="dropdown-toggle p-2" data-toggle="dropdown">
              </span>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main class="main">
      <!-- <app-timeline></app-timeline> -->
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
