<div *ngIf="mainFlagModule0 < 4">
  <div class="card">
    <div class="card-block">
      <p>{{ "subModule5_1.5_1" | translate }}</p>
      <p>
        <strong>{{ "lock.note" | translate }}</strong
        >{{ "lock.warn" | translate }}
      </p>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule0 == 4">
    <div class="instruction-wrap" *ngIf="!showPart1Flag">
        <div class="card">
          <div class="card-header text-white">
            <span class="exp-img instructions-img"></span>
            <h4>{{'Quiz.note' | translate}}</h4>
          </div>
          <div class="card-block inst-text">
              <p>{{'number.1' | translate}}. {{'L2Module0.inst0_3_1' | translate}}</p>
              <p>{{'number.2' | translate}}. {{'L2Module0.inst0_2_2' | translate}}</p>
              <p>{{'number.3' | translate}}. {{'L2Module0.inst0_2_3' | translate}}</p>
              <p>{{'number.4' | translate}}. {{'L2Module0.inst0_2_4' | translate}}</p>
              <p>{{'number.5' | translate}}. {{'L2Module0.inst0_2_5' | translate}}</p>
              <p class="color_red">{{'number.6' | translate}}. {{'L2Module0.inst0_3_2' | translate}}</p>
              <p>{{'L2Module0.inst0_2_12' | translate}}</p>
  
          </div>
          <div class="card-footer">
            <div class="float-right">
              <button *ngIf="subFlagModule0 == 1 || subFlagModule0 == 2" class="btn btn-primary" appPreventDoubleClick
                (debounceClick)="start1();">{{'Module4.start' | translate}}</button>
                <button *ngIf="subFlagModule0 == 3" class="btn btn-primary" appPreventDoubleClick
                (debounceClick)="start2();">{{'Module4.start' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
  <div *ngIf="subFlagModule0 == 1">
    <div *ngIf="showPart1Flag">
      <div>
        <app-new-baseline
          [passData]="passData"
          (sendAns)="saveAnswer($event)"
        ></app-new-baseline>
      </div>
    </div>
  </div>

  <div *ngIf="subFlagModule0 == 2">
    <div *ngIf="showPart1Flag">
      <div>
        <app-new-baseline [passData]="passData" (sendAns)="saveAnswer($event)"></app-new-baseline>
      </div>
    </div>
  </div>

  <div *ngIf="subFlagModule0 == 3">
    <div *ngIf="showPart1Flag">
      <div>
        <app-new-baseline [passData]="passData"></app-new-baseline>
      </div>
    </div>
  </div> 
</div>

<div *ngIf="mainFlagModule0 > 4">
  <div class="card submoduleBox">
    <div class="card-block text-center greenText inst-text">
      <span>{{ "L2Module0Complete.sm_0_3" | translate }}</span>
    </div>
  </div>
</div>
