<div *ngIf="mainFlagModule0 < 10">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule3_1.3_2' | translate}}</p>
      <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>


<div *ngIf="mainFlagModule0 == 10">
  <div *ngIf="startPdf">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
            <div class="card-footer">
                <h6 class="text-center">{{'L2Module0.subMenu1-10' | translate}}</h6>
              </div>
          <div class="card-block text-center">
            <app-presentation [data]='passValues' (sendCfuAns)="finishPDF($event)"></app-presentation>          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<div *ngIf="mainFlagModule0 > 10">
  <div class="card">
    <div class="card-footer">
      <h6 class="text-center">{{'L2Module0.subMenu1-10' | translate}}</h6>
    </div>
    <div class="card-block">
      <app-presentation [data]='passValues'></app-presentation>
    </div>
    <!-- <div class="card-footer">
          <h6 class="text-center">{{'Module5.subMenu1-3' | translate}}</h6>
      </div> -->
  </div>
</div>