<div *ngIf="mainFlagModule0 < 16">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule3_1.3_2' | translate}}</p>
      <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>


<div *ngIf="mainFlagModule0 == 16">
  <div *ngIf="subFlagModule0 == 1">
    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module0.subMenu1-16' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-presentation [data]='passValues' (sendCfuAns)="finishPDF($event,1)"></app-presentation>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subFlagModule0 == 2">
    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module0.subMenu1-16' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-static-video [receivedData]='passData' (finishCall)="videoFinish($event,2)"></app-static-video>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subFlagModule0 == 3">
    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module0.subMenu1-16' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-static-video [receivedData]='passData' (finishCall)="videoFinish($event,3)"></app-static-video>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subFlagModule0 == 4">
    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module0.subMenu1-16' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-presentation [data]='passValues' (sendCfuAns)="finishPDF($event,4)"></app-presentation>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subFlagModule0 == 5">
    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module0.subMenu1-16' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-static-video [receivedData]='passData' (finishCall)="videoFinish($event,5)"></app-static-video>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="videoFinishModal videoFinishedModel">
  <div bsModal #instructionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <img class="img-responsive img-rotate" src="assets/img/mitra.png">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
        </div>
        <div class="modal-body">
          <p class="px-5 text-center">तुमचा व्हिडिओ पूर्ण झाला.</p>
          <hr />
          <div class="col-md-12 text-right">
            <button class="btn btn-primary text-center" appPreventDoubleClick (debounceClick)="nextvideo(videoflag)">{{'Stepper.Next' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
