<div class="faq-section">
    <div class="col-md-12 col-xs-12">
        <!-- new faq -->
        <div id="accordion">
            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-1">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-2">
                            १. माझा पासवर्ड विसरला आहे . तो कसा मिळेल ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-1" class="collapse" data-parent="#accordion" aria-labelledby="heading-1">
                    <div class="card-body">
                        <p>उत्तर - कृपया पासवर्ड खालील प्रमाणे रिसेट करा :</p>
                        <ul>
                            <li> लॉग इन विंडो वर &ldquo;पासवर्ड विसरलात &rdquo; ला क्लिक करा </li>
                            <li> तुमचा मोबाईल क्रमांक टाईप करा व &ldquo; ओ टी पी पाठवा &rdquo; ला क्लिक करा. </li>
                            <li> तुम्हाला तुमच्या मोबाईल वर ओ टी पी मिळेल, तो टाइप करून &ldquo;तपासा &rdquo; ला क्लिक करा. </li>
                            <li> तुम्हाला हवा असलेला नवीन पासवर्ड टाइप करा. खात्री करा की नवीन पासवर्ड मधे किमान ८ अक्षरे असावीत.
                                ज्यामधे किमान एक कॅपिटल अक्षर, एक स्मॉल अक्षर आणि एक क्रमांक असणे बंधनकारक आहे.</li>
                            <li> खालील टेक्स्ट बॉक्स मध्ये पुनः पासवर्ड टाइप करा. </li>
                            <li> नियम आणि अटी वाचून चेकबॉक्स ला चेक करा.</li>
                            <li>सबमिट बटन वर क्लिक करा. </li>
                            <li> आता तुम्ही तुमच्या मोबाईल क्रमांक व पासवर्ड ने लॉगिन करू शकता </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-3">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                            २. नवीन पासवर्ड तयार करताना अडचण येत आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-3" class="collapse" data-parent="#accordion" aria-labelledby="heading-3">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> तुमचा पासवर्ड किमान ८ अक्षरी असावा </li>
                            <li> ज्यामधे किमान एक कॅपिटल लेटर एक स्मॉल लेटर एक क्रमांक असणे बंधनकारक आहे. </li>
                            <li> दोन्ही पासवर्ड एकसारखे असावेत. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-4">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                            ३. ई -मेल आय डी टाकल्यावर &ldquo;तुमचा ई -मेल आधीच आमच्याकडे नोंदणीकृत आहे &rdquo; असा संदेश येत आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-4" class="collapse" data-parent="#accordion" aria-labelledby="heading-4">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> तुम्ही अगोदरच अविरत ला नोंदणी केलेली आहे. कृपया तुमचा आधीचा पासवर्ड माहीत असल्यास त्याने लॉगिन
                                करावे. जर तुम्हाला आधीचा पासवर्ड लक्षात नसेल तर &ldquo;पासवर्ड विसरलात &rdquo; ला क्लिक करा
                            </li>
                            <li> तुमचा ई -मेल आय डी दिलेल्या टेक्स्ट बॉक्स मध्ये टाईप करा व &ldquo; ओ टी पी पाठवा &rdquo; ला क्लिक
                                करा. </li>
                            <li> तुम्हाला ई -मेल आय डी वर ओ टी पी मिळेल, तो टाइप करून &ldquo;तपासा &rdquo; ला क्लिक करा. </li>
                            <li>तुम्हाला हवा असलेला नवीन पासवर्ड टाइप करा. खात्री करा की नवीन पासवर्ड मधे किमान ८ अक्षरे असावीत.
                                ज्यामधे एक कॅपिटल लेटर एक स्मॉल लैटर एक क्रमांक असणे बंधनकारक आहे.</li>
                            <li> खालील टेक्स्ट बॉक्स मध्ये पुनः पासवर्ड टाइप करा.</li>
                            <li> नियम आणि अटी वाचून चेकबॉक्स ला चेक करा. </li>
                            <li>सबमिट बटन वर क्लिक करा. </li>
                            <li>आता तुम्ही तुमच्या ई -मेल आय डी व पासवर्ड ने लॉगिन करू शकता </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-5">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                            ४. मला माझा मोबाईल क्रमांक बदलायचा आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-5" class="collapse" data-parent="#accordion" aria-labelledby="heading-5">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li>आपण डैशबोर्ड वर असल्यास उजव्या बाजूला तुमचा फोटो दिसत असेल.त्याच्या बाजूच्या DOWN ARROW ला क्लिक
                                करावा </li>
                            <li>प्रोफाइल मध्ये गेल्यावर तुम्हाला तुमचा मोबाईल क्रमांक दिसेल.त्यसमोर &ldquo;बदला &rdquo; बटन वर
                                क्लिक करा. </li>
                            <li> &ldquo;मोबाईल नंबर मधे बदल करा &rdquo; ची नवीन विंडो उघडेल. </li>
                            <li>नवीन मोबाईल क्रमांक टाइप करा आणि तुमचा अविरत चा पासवर्ड टाइप करा.</li>
                            <li> तुमच्या मोबाईल क्रमांकावर ओ टी पी येईल.तो टाइप करा व तपासा वर क्लिक करा.</li>
                            <li>अशा प्रकारे तुमचा मोबाईल क्रमांक तुम्ही बदलू शकता.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-6">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                            ५. मला माझा ई -मेल आय डी बदलायचा आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-6" class="collapse" data-parent="#accordion" aria-labelledby="heading-6">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> आपण डैशबोर्ड वर असल्यास उजव्या बाजूला तुमचा फोटो दिसत असेल.त्याच्या बाजूच्या DOWN ARROW ला क्लिक
                                करावा. </li>
                            <li> प्रोफाइल मध्ये गेल्यावर तुम्हाला तुमचा ई -मेल आय डी दिसेल.त्यसमोर &ldquo;बदला &rdquo; बटन वर
                                क्लिक करा. </li>
                            <li> &ldquo;ई -मेल आय डी मधे बदल करा &rdquo; ची नवीन विंडो उघडेल . </li>
                            <li> नवीन ई -मेल आय डी टाइप करा आणि तुमचा अविरत चा पासवर्ड टाइप करा.</li>
                            <li> तुमच्या ई -मेल आय डी वर ओ टी पी येईल.तो टाइप करा व तपासा वर क्लिक करा. </li>
                            <li> अशा प्रकारे तुमचा ई -मेल आय डी तुम्ही बदलू शकता. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-7">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                            ६. मला माझा पासवर्ड बदलायचा आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-7" class="collapse" data-parent="#accordion" aria-labelledby="heading-7">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li>आपण डैशबोर्ड वर असल्यास उजव्या बाजूला तुमचा फोटो दिसत असेल.त्याच्या बाजूच्या DOWN ARROW ला क्लिक
                                करावा.
                            </li>
                            <li>&ldquo; पासवर्ड बदला &ldquo; ला क्लिक करा.</li>
                            <li>तुम्हाला &ldquo; पासवर्ड बदला &ldquo; ची विंडो येईल. </li>
                            <li>टेक्स्टबॉक्स मध्ये तुमचा आताचा पासवर्ड टाइप करा.</li>
                            <li> तुमचा नवीन पासवर्ड टाइप करा.खात्री करा की नवीन पासवर्ड मधे किमान ८ अक्षरे असावीत. ज्यामधे एक
                                कॅपिटल लेटर एक स्मॉल लैटर एक क्रमांक असणे बंधनकारक आहे.</li>
                            <li> खालील टेक्स्ट बॉक्स मध्ये पुनः तोच पासवर्ड टाइप करा. </li>
                            <li>&ldquo;सबमिट &rdquo; बटन वर क्लिक करा.</li>
                            <li> अशा प्रकारे तुमचा पासवर्ड तुम्ही बदलू शकता.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-8">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
                            ७. मला माझ्या प्रोफाईल मधील काही माहिती बदलायची आहे, मी काय करावे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-8" class="collapse" data-parent="#accordion" aria-labelledby="heading-8">
                    <div class="card-body">
                        <p>उत्तर -मच्या प्रोफाईल मधील माहिती बदलण्यासाठी बदला हा पर्याय निवडा. मात्र तुम्हाला तुमचे नाव, शाळेचे
                            नाव व UDISE नंबर, जिल्हा, तालुका, आणि आधार क्रमांक बदलता येणार नाही याची नोंद घ्यावी.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-9">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
                            ८. मी नोंदणीच्या वेळी माझे पूर्ण नाव / जिल्हा / तालुका / निर्देशांक क्रमांक/ शाळेचे नाव चुकीचे टाकले होते.त्यासाठी मला काय
                            करावे लागेल ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-9" class="collapse" data-parent="#accordion" aria-labelledby="heading-9">
                    <div class="card-body">
                        <p>उत्तर - तुम्ही स्वतः त्यात काहीही बदल करू शकणार नाही.परंतु aviratahelp@gmail.com किंवा जिल्हा समन्यक
                            यांना तुम्हाला तुमच्या नोंदणीकृत ईमेल आयडी वरुन ईमेल करावा लागेल. जिल्हा समन्वयक यांचा ईमेल तुम्हाला
                            तुमच्या डैशबोर्ड वर मिळेल.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-10">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
                            ९. जन्मदिनांक देताना अडचण येत आहे
                        </a>
                    </h5>
                </div>
                <div id="collapse-10" class="collapse" data-parent="#accordion" aria-labelledby="heading-10">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> कृपया जन्मदिनांक समोरील दिनदर्शिका चिन्हावर क्लिक करा. तुम्हाला दिनदर्शिका दिसेल. </li>
                            <li> प्रथम वर्ष निवडावे. त्यासाठी UP ARROW चा वापर करावा. त्यानंतर महिना निवडावा. सर्वात शेवटी तारीख
                                निवडावी. </li>
                            <li> जन्मदिनांक योग्य असल्याची खात्री करा व पुढे जा. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-11">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                            १०. प्रोफाइल फोटो योग्य आला नाही, कसा बदलावा?
                        </a>
                    </h5>
                </div>
                <div id="collapse-11" class="collapse" data-parent="#accordion" aria-labelledby="heading-11">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> आपण डैशबोर्ड वर असल्यास उजव्या बाजूला तुमचा फोटो दिसत असेल किंवा गोल असेल त्याच्या बाजूच्या DOWN
                                ARROW ला क्लिक करावा.
                            </li>
                            <li> प्रोफाईल वर क्लीच्क करून तुमच्या फोटो वर क्लिक करा आणि प्रोफाइल फोटो निवडा ला क्लिक करा. </li>
                            <li> तुम्हाला हवा असलेला फोटो निवडा व ओके बटन दाबा. </li>
                            <li> तुम्ही तुमचा फोटो यशस्वीरीत्या बदलला आहे.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-12">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
                            ११. माझ्या शाळेचे नाव / UDISE क्रमांक यादीत नाही.
                        </a>
                    </h5>
                </div>
                <div id="collapse-12" class="collapse" data-parent="#accordion" aria-labelledby="heading-12">
                    <div class="card-body">
                        <p>उत्तर - याबाबतीत तुमच्या aviratahelp@gmail.com किंवा जिल्हा समन्वयक यांच्याशी ई - मेल द्वारे संपर्क
                            साधावा.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-13">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
                            १२. मी शिकवत असलेला विषय यादीत नाही.
                        </a>
                    </h5>
                </div>
                <div id="collapse-13" class="collapse" data-parent="#accordion" aria-labelledby="heading-13">
                    <div class="card-body">
                        <p>उत्तर- यादीतून OTHER सिलेक्ट करा.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-14">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
                            १३. मी घेतलेली पदवी विषय / पदव्युत्तर पदवी विषय / व्यावसायिक पदवी विषय यादीत नाही.
                        </a>
                    </h5>
                </div>
                <div id="collapse-14" class="collapse" data-parent="#accordion" aria-labelledby="heading-14">
                    <div class="card-body">
                        <p>उत्तर- यादीतून OTHER सिलेक्ट करा . येणाऱ्या टेक्स्ट बॉक्स मध्ये पदवी विषय / पदव्युत्तर पदवी विषय
                            / व्यावसायिक पदवी विषय लिहा .</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-15">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
                                १४. मला कोणतेही ईमेल नोटिफिकेशन येत नाही, मी काय करावे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-15" class="collapse" data-parent="#accordion" aria-labelledby="heading-15">
                    <div class="card-body">
                        <p> ईमेल नोटिफिकेशन न येण्याची खालील कारणे असू शकतात .</p>
                        <ul>
                            <li> कृपया तुमच्या inbox मधील ‘spam’ या भागातील मेल तपासून पहा, कधीकधी ईमेल ‘spam’ भागामध्ये जातात.</li>
                            <li> कृपया तुमचा ई मेल तुमच्या प्रोफाईल मध्ये अपडेटेड आहे का ते तपासून पहा. तपासण्यासाठी इथे क्लिक
                                करा .</li>
                            <li> जर ई मेल तुमच्या प्रोफाईल मध्ये बरोबर अपडेटेड असेल तर, तुमचा ई मेल आमच्याकडून औपचारीकपणे स्वीकारला
                                गेला आहे का हे तपासून पहा</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-16">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-16" aria-expanded="false" aria-controls="collapse-16">
                                १५. मला कोणतेही sms नोटिफिकेशन येत नाही, मी काय करावे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-16" class="collapse" data-parent="#accordion" aria-labelledby="heading-16">
                    <div class="card-body">
                        <p> sms नोटिफिकेशन न येण्याची खालील कारणे असू शकतात . </p>
                        <ul>
                            <li>कृपया तुमचा मोबाईल नंबर तुमच्या प्रोफाईल मध्ये अपडेटेड आहे का तपासून पहा. तपासण्यासाठी इथे क्लिक
                                करा .</li>
                            <li> जर मोबाईल नंबर तुमच्या प्रोफाईल मध्ये अपडेटेड असेल तर, तुमचा मोबाईल नंबर आमच्याकडून औपचारीकपणे
                                स्वीकारला गेला आहे का ते तपासून पहा.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-17">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-17" aria-expanded="false" aria-controls="collapse-17">
                            १६. माझ्या मोबाईल वर ओ टी पी आला नाही.
                        </a>
                    </h5>
                </div>
                <div id="collapse-17" class="collapse" data-parent="#accordion" aria-labelledby="heading-17">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> तुम्ही मोबाईल क्रमांक योग्य नमूद केला आहे का ते तपासा. </li>
                            <li> तरीही न आल्यास मोबाईल नेटवर्क व इंटरनेट कनेक्शन योग्य रीतीने चालत आहे का ते तपासा . </li>
                            <li> २ मिनिटे वेळ द्या व २ मिनिटात नाही आल्यास "परत पाठवा " या लिंक ला क्लिक करा. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-18">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-18" aria-expanded="false" aria-controls="collapse-18">
                            १७. माझ्या ईमेल वर ओ टी पी आला नाही .
                        </a>
                    </h5>
                </div>
                <div id="collapse-18" class="collapse" data-parent="#accordion" aria-labelledby="heading-18">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> तुम्ही ईमेल योग्य नमूद केला आहे का ते तपासा. </li>
                            <li> तरीही न आल्यास इंटरनेट कनेक्शन योग्य रीतीने चालत आहे का ते तपासा. </li>
                            <li> २ मिनिटे वेळ द्या व २ मिनिटात नाही आल्यास "परत पाठवा " या लिंक ला क्लिक करा. </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-19">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-19" aria-expanded="false" aria-controls="collapse-19">
                                १८. मुख्याध्यापक व शिक्षकांना वेगवेगळे लॉग इन करावे लागेल का ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-19" class="collapse" data-parent="#accordion" aria-labelledby="heading-19">
                    <div class="card-body">
                        <p>उत्तर - हो. प्रत्येकासाठी वेगवेगळे प्रशिक्षण असल्यामुळे प्रत्येकाला नोंदणी करावी लागेल.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-20">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-20" aria-expanded="false" aria-controls="collapse-20">
                                १९. जर माझ्याकडे Android फोन नसेल, तर मी ऑनलाईन प्रोग्राम कसा पूर्ण करावा?
                        </a>
                    </h5>
                </div>
                <div id="collapse-20" class="collapse" data-parent="#accordion" aria-labelledby="heading-20">
                    <div class="card-body">
                        <p>उत्तर - ज्यावर इंटरनेटची सुविधा आहे अशा कोणत्याही मोबाईल किंवा संगणकावर www.maacpd.in या संकेतस्थळावर
                            जाऊन तुम्ही हा ऑनलाईन प्रोग्राम पूर्ण करू शकता.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-21">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-21" aria-expanded="false" aria-controls="collapse-21">
                                २०. जर माझ्याकडे संगणक नसेल, तर मी ऑनलाईन प्रोग्राम कसा पूर्ण करावा?
                        </a>
                    </h5>
                </div>
                <div id="collapse-21" class="collapse" data-parent="#accordion" aria-labelledby="heading-21">
                    <div class="card-body">
                        <p>उत्तर -तुम्ही ऑनलाईन प्रोग्राम Google Play Store वर असलेल्या MAACPD मोबाईल अॅप वरून पूर्ण करू शकता,
                            अॅप डाऊनलोड करण्यासाठी तुमच्याकडे Android फोन असणे आवश्यक आहे.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-22">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-22" aria-expanded="false" aria-controls="collapse-22">
                                २१. मी मॉड्यूल ५ ला थेट जाऊ शकेन का ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-22" class="collapse" data-parent="#accordion" aria-labelledby="heading-22">
                    <div class="card-body">
                        <p>उत्तर - नाही, तुम्हाला क्रमाक्रमाने मोडयुल १ ,२,३, ४ आणि ५ असे पूर्ण करावे लागेल.</p>
                    </div>
                </div>
            </div>


            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-23">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-23" aria-expanded="false" aria-controls="collapse-23">
                                २२. प्रशिक्षणपूर्व चाचणी प्रश्नांची उत्तरे दिल्यावर त्याचे मूल्यांकन कसे केले जाते? मला सर्व उत्तरे योग्य वाटत आहेत.
                        </a>
                    </h5>
                </div>
                <div id="collapse-23" class="collapse" data-parent="#accordion" aria-labelledby="heading-23">
                    <div class="card-body">
                        <p>उत्तर - प्रशिक्षणपूर्व चाचणी ही केवळ तुमचे मत जाणून घेण्यासाठी असेल . यामध्ये योग्य व अयोग्य असे
                            काही नाही. मात्र प्रशिक्षणोत्तर चाचणीची उत्तरे मूल्यांकनात धरली जातील.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-24">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-24" aria-expanded="false" aria-controls="collapse-24">
                                २३. प्रकल्प पूर्ण करण्यासाठी माझ्याकडे किती कालावधी आहे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-24" class="collapse" data-parent="#accordion" aria-labelledby="heading-24">
                    <div class="card-body">
                        <p>उत्तर - प्रकल्पदेखील दिलेल्या ३० दिवसातच पूर्ण करायचा आहे. प्रशिक्षण व प्रकल्प या दोन्हीसाठी मिळून
                            ३० दिवसांचा कालावधी देण्यात आला आहे. </p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-25">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-25" aria-expanded="false" aria-controls="collapse-25">
                                २४. प्रकल्प अपलोड करावा लागेल का?
                        </a>
                    </h5>
                </div>
                <div id="collapse-25" class="collapse" data-parent="#accordion" aria-labelledby="heading-25">
                    <div class="card-body">
                        <p>उत्तर - अविरत टप्पा १ साठी प्रकल्प अपलोड करणे अनिवार्य आहे. टप्पा २ साठी प्रकल्प अपलोड करावयाचा नसून
                            दिलेल्या जागेत मुद्दे लिहिणे अपेक्षित आहे.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-26">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-26" aria-expanded="false" aria-controls="collapse-26">
                                २५. मला ऑनलाईन प्रशिक्षण प्रत्येक दिवशी करावे लागेल का ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-26" class="collapse" data-parent="#accordion" aria-labelledby="heading-26">
                    <div class="card-body">
                        <p>उत्तर - ऑनलाईन प्रशिक्षण प्रत्येक दिवशी उपलब्ध असणार आहे. तुम्ही अभ्यासक्रम तुमच्या सोयीनुसार पूर्ण
                            करू शकता. परंतु तुम्हाला ही काळजी घ्यावी लागेल की अभ्यासक्रम व प्रकल्प दिलेल्या ३० दिवसातच तुम्ही
                            पूर्ण कराल.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-27">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-27" aria-expanded="false" aria-controls="collapse-27">
                                २६. ऑनलाईन प्रशिक्षण पूर्ण करताना मला काही अडचण आल्यास मी काय करावे ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-27" class="collapse" data-parent="#accordion" aria-labelledby="heading-27">
                    <div class="card-body">
                        <p>उत्तर - ऑनलाईन प्रशिक्षण पूर्ण करताना तुम्हाला सहकार्याची गरज वाटल्यास तुम्ही या ०२०-६७६८६७८८ हेल्पलाईन
                            नंबरवर कॉल करू शकता.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-28">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-28" aria-expanded="false" aria-controls="collapse-28">
                                २७. ऑनलाईन प्रशिक्षणामध्ये काही परीक्षा/चाचण्या असतील का?
                        </a>
                    </h5>
                </div>
                <div id="collapse-28" class="collapse" data-parent="#accordion" aria-labelledby="heading-28">
                    <div class="card-body">
                        <p>उत्तर - ऑनलाईन प्रशिक्षणामध्ये दोन चाचणी परीक्षा असतील.प्रशिक्षण सुरु होण्याआधी प्रशिक्षणपूर्व प्रश्नावली
                            असेल आणि तशाच स्वरुपाची एक प्रश्नावली प्रशिक्षण पूर्ण झाल्यानंतर असणार आहे. हया चाचणी परीक्षा
                            प्रशिक्षणामध्ये चर्चिल्या गेलेल्या विषयाबद्दल तुमचा दृष्टीकोन/मत जाणून घेण्यासाठी आहे.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-29">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-29" aria-expanded="false" aria-controls="collapse-29">
                                २८. अभ्यासक्रम पूर्ण केल्यानंतर मला प्रमाणपत्र मिळेल का?
                        </a>
                    </h5>
                </div>
                <div id="collapse-29" class="collapse" data-parent="#accordion" aria-labelledby="heading-29">
                    <div class="card-body">
                        <p>उत्तर - हो, अभ्यासक्रम पूर्ण केल्यानंतर तुम्हाला समग्र शिक्षा अभियान, महाराष्ट्र शासन, महाराष्ट्र
                            राज्य शैक्षणिक संशोधन व प्रशिक्षण परिषद (विद्या प्राधिकरण), पुणे यांचे वतीने प्रमाणपत्र मिळेल.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-30">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-30" aria-expanded="false" aria-controls="collapse-30">
                                २९. हे प्रशिक्षण कशाबद्दल आहे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-30" class="collapse" data-parent="#accordion" aria-labelledby="heading-30">
                    <div class="card-body">
                        <p>उत्तर - किशोरवयीन विद्यार्थ्यांना समजून घेऊन त्यांना योग्य तो प्रतिसाद देण्यासाठी किशोरवयीन मेंदूविषयीच्या
                            जागतिक संशोधनावर व माहितीवर आधारित हे प्रशिक्षण असणार आहे.. २१ व्या शतकातील करिअरच्या संधी, आव्हाने
                            व विद्यार्थ्यांच्या बदलत्या गरजा समजून घेवून त्यांच्या निर्णय क्षमता विकसित करण्यासाठी शिक्षकांना
                            अधिक सक्षम करणारे हे प्रशिक्षण आहे.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-31">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-31" aria-expanded="false" aria-controls="collapse-31">
                                ३०. हा प्रशिक्षण कार्यक्रम फक्त एक वर्षासाठीच आहे का?
                        </a>
                    </h5>
                </div>
                <div id="collapse-31" class="collapse" data-parent="#accordion" aria-labelledby="heading-31">
                    <div class="card-body">
                        <p>उत्तर - गेल्या वर्षी प्रशिक्षणाचा पहिला टप्पा घेण्यात आला. यावर्षी दुसरा टप्पा सुरु करण्यात आला आहे.
                            या प्रशिक्षण कार्यक्रमाचे एकूण ४ टप्पे आहेत. जे पुढील वर्षांमध्ये घेतले जातील.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-32">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-32" aria-expanded="false" aria-controls="collapse-32">
                                ३१. मला चारही टप्प्यांमध्ये भाग घ्यावा लागेल का?
                        </a>
                    </h5>
                </div>
                <div id="collapse-32" class="collapse" data-parent="#accordion" aria-labelledby="heading-32">
                    <div class="card-body">
                        <p>उत्तर - हे सातत्यपूर्ण व्यावसायिक प्रशिक्षण आहे. जे तुम्हाला मदतीचे व उपयुक्त ठरावे यासाठी चार टप्प्यामध्ये
                            घेतले जाणार आहे.प्रशिक्षण पूर्ण करण्यासाठी तुम्हाला चारही टप्प्यांमध्ये भाग घ्यावा लागेल.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-33">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-33" aria-expanded="false" aria-controls="collapse-33">
                                ३२. हा प्रशिक्षण कार्यक्रम कोणामार्फत राबविला जाणार आहे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-33" class="collapse" data-parent="#accordion" aria-labelledby="heading-33">
                    <div class="card-body">
                        <p>उत्तर - “सातत्यपूर्ण व्यावसायिक प्रशिक्षण – अविरत” हे समग्र शिक्षा अभियान, महाराष्ट्र शासन आणि महाराष्ट्र
                            राज्य शैक्षणिक संशोधन व प्रशिक्षण परिषदेचा (विद्या प्राधिकरण) व्यवसाय मार्गदर्शन व मानसशास्त्रीय
                            समुपदेशन विभाग यांच्यामार्फत राबविले जाणार आहे.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-34">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-34" aria-expanded="false" aria-controls="collapse-34">
                                ३३. प्रशिक्षणाचा भाग म्हणून मी कोणकोणत्या गोष्टी करणे आवश्यक आहे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-34" class="collapse" data-parent="#accordion" aria-labelledby="heading-34">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li> ऑनलाईन प्रशिक्षण नेमून दिलेल्या कालावधीत पूर्ण करणे.</li>
                            <li> नेमून दिलेले कार्य/स्वाध्याय/ उपक्रम पूर्ण करणे</li>
                            <li> अधिक माहितीसाठी ‘मुख्य स्क्रीनवरील ‘श्रेणी निकष’ पाहा.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-35">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-35" aria-expanded="false" aria-controls="collapse-35">
                                ३४. ऑनलाईन प्रशिक्षण साहित्य मला कधी पर्यंत पाहता येईल ?
                        </a>
                    </h5>
                </div>
                <div id="collapse-35" class="collapse" data-parent="#accordion" aria-labelledby="heading-35">
                    <div class="card-body">
                        <p>उत्तर - तुम्हांला योजण्यात आलेल्या ३० दिवसांच्या कालावधीमध्ये तुम्हांला प्रशिक्षण साहित्य पाहता येईल.
                            त्यातील काही साहित्य या ३० दिवसांच्या कालावधीच तुम्ही डाऊनलोड करू शकाल.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-36">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-36" aria-expanded="false" aria-controls="collapse-36">
                                ३५. प्रशिक्षणातील कोणते साहित्य डाऊनलोड करता येतील?
                        </a>
                    </h5>
                </div>
                <div id="collapse-36" class="collapse" data-parent="#accordion" aria-labelledby="heading-36">
                    <div class="card-body">
                        <p>उत्तर - अविरत टप्पा २ मधील काही PPT's आणि Images डाऊनलोड करता येतील. Videos download करता येणार नाही
                            याची कृपया नोंद घ्यावी. डाऊनलोड साहित्य यादी (सबमोड्यूलनुसार) = १.१०, २.४ ज(ppt), २.५(ppt), २.६(ppt),
                            २.७, ३.१४, ३.१६(ppt), ३.१७, ४.५(ppt),४.६ अ(ppt),४.६ब(ppt),४.८(ppt),४.१०(ppt),४.१२(ppt),४.१४(ppt),
                            ५.७(ppt), ५.८(ppt),५.९(ppt),५.१०(ppt),५.११(ppt), ७.१ (PDF),७.३(PDF)</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-37">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-37" aria-expanded="false" aria-controls="collapse-37">
                                ३६. प्रशिक्षणातील साहित्य डाऊनलोड कसे करावे?
                        </a>
                    </h5>
                </div>
                <div id="collapse-37" class="collapse" data-parent="#accordion" aria-labelledby="heading-37">
                    <div class="card-body">
                        <p>उत्तर - तुमचे प्रत्येक मोड्यूल पूर्ण झाल्यानंतर मागे जाऊन त्या सबमोड्यूलवर क्लिक केले असता तुम्हांला
                            PPT / images डाऊनलोड करता येतील.</p>
                    </div>
                </div>
            </div>

            <div class="card mt-2 mb-2">
                <div class="card-header" id="heading-38">
                    <h5 class="mb-0">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-38" aria-expanded="false" aria-controls="collapse-38">
                                ३७. डाऊनलोड केलेले साहित्य मला कुठे पाहायला मिळेल?
                        </a>
                    </h5>
                </div>
                <div id="collapse-38" class="collapse" data-parent="#accordion" aria-labelledby="heading-38">
                    <div class="card-body">
                        <p>उत्तर -</p>
                        <ul>
                            <li>तुम्ही  संगणकाद्वारे प्रशिक्षण करत असाल तर आपल्या संगणकामध्ये डाऊनलोड केलेल्या फाईल्स ज्या folder
                                मध्ये जातात त्या folder मध्ये डाऊनलोड झालेल्या असतील.</li>
                            <li>तुम्ही  मोबाईल अॅपद्वारे प्रशिक्षण करत असाल तर तुमच्या मोबाईलमध्ये डाऊनलोड केलेल्या फाईल्स या
                                Storage  मध्ये -> MAACPD मध्ये  -> Level2 मध्ये ->Module नुसार डाऊनलोड झालेल्या असतील."</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>