<div class="timeline">
    <!-- <div class="stepper-step " [ngClass]="{'stepper-step-isActive': LocalstoragedetailsService.timelineState>=1}" *ngIf="LocalstoragedetailsService.userType != 'trainee'"> -->
           <div class="stepper-step " [ngClass]="{'stepper-step-isActive': completedModule['module0'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
            <span class="d-none d-md-block">{{'Dashboard.Baseline Exam' | translate}}</span>
            <span class="d-block d-md-none" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">{{'Dashboard.1' | translate}}</span>
            </span>
                <!-- <span class="label">{{'Dashboard.Module 1' | translate}}</span> -->
        </div>
    </div>
    <div class="stepper-step " [ngClass]="{'stepper-step-isActive': completedModule['module1'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block">{{'Dashboard.Module 1' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.2' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.1' | translate}}</span>
            </span>
            <!-- <span class="label">{{'Dashboard.Module 1' | translate}}</span> -->
        </div>
    </div>
    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module2'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block">{{'Dashboard.Module 2' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.3' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.2' | translate}}</span>
            </span>
            <!-- <span class="label">{{'Dashboard.Module 2' | translate}}</span> -->
        </div>
    </div>
    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module3'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block">{{'Dashboard.Module 3' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.4' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.3' | translate}}</span>
            </span>
            <!-- <span class="label">{{'Dashboard.Module 3' | translate}}</span> -->
        </div>
    </div>
    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module4'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block">{{'Dashboard.Module 4' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.5' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.4' | translate}}</span>
            </span>
            <!-- <span class="label">{{'Dashboard.Module 4' | translate}}</span> -->
        </div>
    </div>
    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module5'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block">{{'Dashboard.Module 5' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.6' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.5' | translate}}</span>
            </span>
            <!-- <span class="label">{{'Dashboard.Module 5' | translate}}</span> -->
        </div>
    </div>

    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module6'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block" >{{'Dashboard.endTest' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.7' | translate}}</span>
                 <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.6' | translate}}</span>
            </span>
                <!-- <span class="label">{{'Dashboard.Module 5' | translate}}</span> -->
        </div>
    </div>

    <div class="stepper-step" [ngClass]="{'stepper-step-isActive': completedModule['module7'] == true}">
        <div class="stepper-stepContent" (click)="showAlert()">
            <span class="stepper-stepMarker ripple">
                <span class="d-none d-md-block" >{{'Dashboard.Assignments' | translate}}</span>
                <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType != 'trainee'">{{'Dashboard.8' | translate}}</span>
                 <span class="d-block d-md-none" *ngIf="LocalstoragedetailsService.userType == 'trainee'">{{'Dashboard.7' | translate}}</span>
            </span>
                <!-- <span class="label">{{'Dashboard.Module 5' | translate}}</span> -->
        </div>
    </div>
    <!-- <div class="stepper-step" [ngClass]="{'stepper-step-isActive': four===true}">
        <div class="stepper-stepContent">
            <span class="stepper-stepMarker ripple"><span class="hidden-sm-down">{{'Dashboard.Exam' | translate}}</span><span class="hidden-sm-up">8</span></span>
        </div>
    </div> -->
</div>
