<div *ngIf="mainFlagModule2 < 16">
  <div class="card">
    <div class="card-block">
      <p>{{ "subModule1_1.1_1" | translate }}</p>
      <p>
        <strong>{{ "lock.note" | translate }}</strong>{{ "lock.warn" | translate }}
      </p>
    </div>
  </div>
</div>
<div *ngIf="mainFlagModule2 == 16">
  <div class="col-sm-12 col-md-12 instruction-wrap ins-block" *ngIf="!startPdf && !nextFlag">
    <div class="borderBlue">
      <div class="card">
        <div class="card-header text-white">
          <span class="exp-img instructions-img"></span>
          <h5>{{'Quiz.note' | translate}}</h5>
        </div>
        <div class="card-block pt-2">
          <p>{{'L2Module2.subMenu2-16' | translate}}</p>
        </div>
        <div class="card-footer">
          <div class="float-right hidden-xs-down">
            <button class="btn btn-primary" (click)="startEvent();">{{'Module4.start' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="startPdf && !nextFlag">
    <app-presentation [data]='passValues' (sendCfuAns)="finishPDF($event)"></app-presentation>
  </div>
  <div class="assignForm" *ngIf="nextFlag">
    <div class="card">
      <div class="card-block pt-2">
        <form #assignForm="ngForm">
          <div class="form-group row">
            <label class="col-sm-12 form-control-label" [for]="questionid1" [innerHTML]="question1"></label>
            <div class="col-12 controls">
              <textarea class="form-control" [id]="questionid1" name="answer1" [(ngModel)]="answer1" rows="3" #addr="ngModel" maxlength="500"
                required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 form-control-label" [for]="questionid2" [innerHTML]="question2"></label>
            <div class="col-12 controls">
              <textarea class="form-control" [id]="questionid2" name="answer2" [(ngModel)]="answer2" rows="3" #addr="ngModel" maxlength="500"
                required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 form-control-label" [for]="questionid3" [innerHTML]="question3"></label>
            <div class="col-12 controls">
              <textarea class="form-control" [id]="questionid3" name="answer3" [(ngModel)]="answer3" rows="3" #addr="ngModel" maxlength="500"
                required></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 form-control-label" [for]="questionid4" [innerHTML]="question4"></label>
            <div class="col-12 controls">
              <textarea class="form-control" [id]="questionid4" name="answer4" [(ngModel)]="answer4" rows="3" #addr="ngModel" maxlength="500"
                required></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-center bg-white border-0">
        <button class="btn btn-primary" [disabled]="assignForm.invalid || trimFlag" (click)="finish();">{{'Login.Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule2 > 16">
  <div class="card submoduleBox">
    <div class="card-block text-center greenText inst-text">
      <span>{{ "L2Module2Complete.sm_2_16" | translate }}</span>
    </div>
  </div>
</div>