<div *ngIf="mainFlagModule2 < 14">
  <div class="card">
    <div class="card-block">
      <p>{{ "subModule1_1.1_1" | translate }}</p>
      <p>
        <strong>{{ "lock.note" | translate }}</strong>{{ "lock.warn" | translate }}
      </p>
    </div>
  </div>
</div>
<div *ngIf="mainFlagModule2 == 14">
  <div class="assignForm">
    <div class="card">
      <div class="card-block pt-2">
        <form #assignForm="ngForm">
          <div class="form-group row">
            <label class="col-sm-12 form-control-label" [for]="questionid" [innerHTML]="question"></label>
            <div class="col-12 controls">
              <textarea class="form-control" [id]="questionid" name="answer" [(ngModel)]="answer" rows="3" #addr="ngModel"
                maxlength="500" required></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-center bg-white border-0">
        <button class="btn btn-primary" [disabled]="assignForm.invalid || trimFlag"
         appPreventDoubleClick (click)="finish();">{{'Login.Close' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule2 > 14">
  <div class="card submoduleBox">
    <div class="card-block text-center greenText inst-text">
      <span>{{ "L2Module2Complete.sm_2_18" | translate }}</span>
    </div>
  </div>
</div>
