<div *ngIf="mainFlagModule2 < 10">
    <div class="card">
      <div class="card-block">
        <p>{{'subModule5_1.5_1' | translate}}</p>
        <p>
          <strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}
        </p>
      </div>
    </div>
  </div>
  
  <div *ngIf="mainFlagModule2 == 10">
    <div *ngIf="subFlagModule2 == 1">
      <div class="instruction-wrap ins-block" *ngIf="!playVideo">
        <div class="borderBlue">
          <div class="card">
            <div class="card-header">
              <span class="exp-img instructions-img"></span>
              <h5>{{'Quiz.note' | translate}}</h5>
            </div>
            <div class="card-block inst-text">
              <p>{{'subModule5_1.1' | translate}}</p>
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-primary" appPreventDoubleClick (debounceClick)="startEvent1()">{{'Login.Close' |
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="playVideo">
        <div class="card">
          <div class="card-footer">
            <h6 class="text-center">{{'L2Module2.mitra' | translate}}</h6>
          </div>
          <div class="card-block">
            <app-static-video [receivedData]='passData' (finishCall)="finishVideo($event)"></app-static-video>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subFlagModule2 == 2">
      <div>
        <div class="instruction-wrap ins-block" *ngIf="!startFlag">
          <div class="borderBlue">
            <div class="card">
              <div class="card-header text-white">
                <span class="exp-img instructions-img"></span>
                <h5>{{'Quiz.note' | translate}}</h5>
              </div>
              <div class="card-block inst-text">
                <p [innerHTML]="'L2Module1.inst1_11' | translate"></p>
              </div>
              <div class="card-footer">
                <div class="float-right hidden-xs-down">
                  <button class="btn btn-primary" appPreventDoubleClick (debounceClick)="startEvent2()">{{'Module4.start' |
                    translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="assignForm" *ngIf="startFlag">
          <div class="card">
            <div class="card-footer p-0">
              <h6 class="questionHead lineHeight font-weight-normal p-2">
                <span [innerHTML]="'L2common.caution' | translate"></span>
                <span [innerHTML]="inst"></span>
              </h6>
            </div>
            <div class="card-footer">
              <span [innerHTML]="question"></span>
            </div>
    
            <div class="card-block pt-2">
              <form #assignForm="ngForm">
                <div class="form-group row">
                  <div class="col-12 controls">
                    <textarea autosize [minRows]="2" class="form-control" [id]="questionid" name="answer"
                      [(ngModel)]="answer" #addr="ngModel" (focus)="showLimit=true" (focusout)="showLimit=false"
                      required></textarea>
                  </div>
                  <div *ngIf="showLimit==false && (postWordCount>150 || postWordCount<7)" class="offset-md-4 mt-2">
                    <p class="color_red pt-1 mb-0">{{'otherMessages.ansIn7_150' | translate}}</p>
                  </div>
                </div>
                <p *ngIf="showLimit" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}}
                  <span *ngIf="postWordCount != 0">{{postWordCount | numberConvertor : 'Devanagari'}}/{{'number.150' |
                    translate}}</span>
                  <span *ngIf="postWordCount == 0">{{'number.0' | translate}}/{{'number.150' | translate}}</span>
                </p>
  
              </form>
            </div>
            <div class="card-footer text-center bg-white border-0">
              <button class="btn btn-primary" [disabled]="assignForm.invalid || trimFlag" appPreventDoubleClick
                (debounceClick)="finish2();">{{'Login.Close' | translate}}</button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <div *ngIf="mainFlagModule2 > 10">
    <div class="card submoduleBox">
      <div class="card-block text-center greenText inst-text">
        <span>{{ "L2Module2Complete.sm_2_10" | translate }}</span>
      </div>
    </div>
  </div>
    
  <div class="videoFinishModal videoFinishedModel">
    <div bsModal #instructionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <img class="img-responsive img-rotate" src="assets/img/mitra.png">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <p class="px-5 text-center">तुमचा व्हिडिओ पूर्ण झाला.</p>
            <hr />
            <div class="col-md-12 text-right">
              <button class="btn btn-primary text-center" appPreventDoubleClick
                (debounceClick)="finish1()">{{'Stepper.Next' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>