<div *ngIf="mainFlagModule2 < 8">
  <div class="card">
      <div class="card-block">
          <p>{{'subModule5_3.5_3' | translate}}</p>
          <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
      </div>
  </div>
</div>
<div *ngIf="mainFlagModule2 == 8">
    <div class="instruction-wrap" *ngIf="!startVideoEvent">
        <div class="borderBlue">
      <div class="card">
          <div class="card-header text-white">
              <span class="exp-img instructions-img"></span>
              <h4>{{'Quiz.note' | translate}}</h4>
          </div>
          <div class="card-block inst-text">
            <p>{{'number.1' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_1' | translate}}</p>
            <p>{{'number.2' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_2' | translate}}</p>
            <p>{{'number.3' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_3' | translate}}</p>
            <p>{{'number.4' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_4' | translate}}</p>
            <p>{{'number.5' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_5' | translate}}</p>
          </div>
          <div class="card-footer">
              <div class="float-right hidden-xs-down">
                  <button class="btn btn-primary" appPreventDoubleClick
                    (click)="startVideoEvent=true;start();">{{'Module4.start' | translate}}</button>
              </div>
          </div>
      </div>
      </div>
    </div>
  <div *ngIf="startVideoEvent">
      <div class="card">
          <div class="card-footer">
              <h6 class="text-center">{{'L2Module2.subMenu2-8' | translate}}</h6>
          </div>
          <div class="card-block">
              <app-video-player [inputData]="videoData" (finishCall)="finishCFU($event)" (singleCFUCompleteStatus)="singleCFUComplete($event)"></app-video-player>
          </div>
          <!-- <div class="card-footer">
              <h6 class="text-center">{{'Module5.subMenu1-3' | translate}}</h6>
          </div> -->
      </div>
  </div>
</div>
<div *ngIf="mainFlagModule2 > 8">
  <div class="card">
      <div class="card-footer">
          <h6 class="text-center">{{'L2Module2.subMenu2-8' | translate}}</h6>
      </div>
      <div class="card-block">
          <app-static-video [receivedData]='passData'></app-static-video>
      </div>
      <!-- <div class="card-footer">
          <h6 class="text-center">{{'Module5.subMenu1-3' | translate}}</h6>
      </div> -->
  </div>
</div>
