.card {
    border-top: 0;
    width: 100%;
}

button>i {
    padding-right: 0.4rem;
}

.pad-0 {
    padding: 0;
}

.mar-btm-0 {
    margin-bottom: 0;
}

.pad-b-t-0 {
    padding-bottom: 0;
    padding-top: 0;
}

.pad-l-r-0 {
    padding-left: 0;
    padding-right: 0;
}

.fa-check-circle,
.fa-times-circle {
    font-size: 1.375rem;
}

.fa-check-circle {
    color: #5cb85c;
}

.fa-times-circle {
    color: #c9302c;
}

.mar-right-15 {
    margin-right: 15px;
}