.form-group.row {
  margin-bottom: 1.2rem;
}


.btn.btn-reset{
     color: #212529 !important;
    background: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btn.btn-send{
  color: #fff !important;
  background: #28a745 !important;
  border-color: #28a745 !important;
}