<div class="app-profile">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            {{ 'Profile.Profile Setting' | translate }}
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-4">
                <div class="text-center">
                  <div class="profile-pic-edit" title="Change profile picture" (click)="changeProfile=true">
                    <a>
                      <img [src]=profileImage class="rounded-circle pic-review" width="120" height="120" id="img1">
                      <!-- <img src={{profileImage}} class="rounded-circle pic-review" width="120" height="120" id="img2">  -->
  
                    </a>
                    <div class="edit-icon text-center">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div *ngIf="changeProfile">
                    <!-- <image-upload [max]="1" name="file" id="file" [url]="apiUrlForProfile" [headers]="[{header: 'Authorization', value: token}]" [extensions]="['image/*']" class="uploadImage" [buttonCaption]="'प्रोफाइल फोटो निवडा'" [dropBoxMessage]="''" width="150" (onFileUploadFinish)="imageUploaded($event)"
                                          [preview]="false"></image-upload>    -->
                    <app-image-upload (returnData)="saveData($event)"></app-image-upload>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label class="col-sm-2 form-control-label" for="email">{{ 'Stepper.E-mail ID' | translate }}</label>
                    <div class="col-sm-8 col-xs-12 col-md-8 controls">
                      <div class="input-group">
                        <input class="form-control input-sm" id="email" name="email" [(ngModel)]="email" type="email" [readonly]="true" required>
                        <button type="button" class="btn btn-primary verifyButtonWidth marginLeft" (click)="changeProfile1();sendEmailOtp=true;clearFields();">{{'Profile.Make Change' | translate}}</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" *ngIf="!emailVerified">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 col-xs-12 col-md-8 controls">
                      <div class="input-group">
                        <!-- <P class="color_red" *ngIf="!emailnull">तुमच्या ई-मेल आयडीची पडताळणी झालेली नाही, पडताळणी करण्यासाठी <a class="click_here" (click)="emailVerifyProfile.show();verifyEmailIfNot();"> &nbsp;येथे क्लिक </a>करा.</P>
                                              <P class="color_red" *ngIf="emailnull">{{'Profile.emailNotVerifiedMessage' | translate}}</P> -->
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-sm-2 form-control-label" for="email">{{'Profile.mobile number' | translate}}</label>
                    <div class="col-sm-8 col-xs-12 col-md-8 controls">
                      <div class="input-group">
                        <input class="form-control input-sm" id="mobileNo" name="mobileNo" [(ngModel)]="mobile" type="text" [readonly]="true" required>
                        <button type="button" class="btn btn-primary verifyButtonWidth marginLeft" (click)="mobileChangeProfileShow();sendMobileOtp=true;clearFields();">{{'Profile.Make Change' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            {{'Stepper.Personal Details' | translate}}
            <div class="float-right">
              <button type="button" class="btn btn-link" (click)="personal=true;dobError=false;genderError=false;stepTwoEdit()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'Profile.Make Change' | translate}}</button>
            </div>
          </div>
          <div class="card-block">
            <form class="form-horizontal" #personalForm="ngForm">
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">{{'Stepper.Full Name' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" id="fullName1" name="fullname" #fullname="ngModel" pattern="^[a-z A-Z]{0,}$" [(ngModel)]="fullName"
                      type="text" [readonly]="!personal" autocomplete="off" required>
                  </div>
                </div>
              </div>
              <div class="form-group row errorMessage color_red" *ngIf="fullname.errors && fullname.dirty">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6" [hidden]="!fullname.hasError('required')">
                  {{'Registration.First Name required' | translate}}
                </div>
                <div class="col-sm-6" [hidden]="!fullname.hasError('pattern') ">{{'Registration.Only Alphabets Allowed' | translate}}</div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="Adhaar">{{'Stepper.Adhaar Number' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" id="aadhar" name="aadharno" #aadharno="ngModel" pattern="^[0-9]{12}$" maxlength="12"
                      [(ngModel)]="aadharNo" type="text" [readonly]="!personal">
                  </div>
                </div>
              </div>
  
              <div class="form-group row errorMessage color_red" *ngIf="aadharno.errors && aadharno.dirty">
                <div class="col-sm-2"></div>
                <!-- <div class="col-sm-4 col-xs-12 col-md-6" [hidden]="!aadharno.hasError('required')">
                  {{'Stepper.Adhaar Number required' | translate}}
                </div> -->
                <div class="col-sm-6" [hidden]="!aadharno.hasError('pattern') ">{{'Stepper.Invalid Adhaar Number' | translate}}</div>
              </div>
  
              <div class="form-group row" *ngIf="!personal">
                <label class="col-sm-2 form-control-label" for="dob">{{'Stepper.Date Of Birth' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" id="dob" name="dob" [(ngModel)]="model1" type="text" [readonly]="true">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="personal">
                <div class="col-sm-6 col-xs-6 col-md-9 offset-md-1 controls row">
                  <div class="col-sm-2 col-md-3"></div>
                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.year' | translate}}</div>
                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.month' | translate}}</div>
                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.date' | translate}}</div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-9 offset-md-1 pl-0 row text-left">
                  <label class="col-sm-2 form-control-label pl-0" for="dob">{{'Stepper.Date Of Birth' | translate}}</label>
                  <div class="col-sm-6 col-xs-6 col-md-9 controls row pr-0">
                    <!-- <my-date-picker id="dob" name="mydate" [options]="myDatePickerOptions" [selDate]="selDate" [(ngModel)]="tt" (dateChanged)="dobCheck($event);" required></my-date-picker> -->
                    <!-- </div>   -->
  
                    <div class="col-sm-1 col-xs-6 col-md-4 controls">
                      <select class="form-control" id="sel1" [(ngModel)]="dobyear" [ngModelOptions]="{standalone: true}" (change)="setDays(['month'],['day'],dobyear);dobCheck()"
                        required>
                        <option *ngFor="let item of dojArray" [value]="item">{{item}}</option>
                      </select>
                    </div>
  
  
                    <!-- <label class="col-sm-1 form-control-label" for="dob">month </label>  -->
                    <div class="col-sm-1 col-xs-6 col-md-4 controls">
                      <select class="form-control" id="sel1" [(ngModel)]="monthSelect" [ngModelOptions]="{standalone: true}" (change)="setDays(monthSelect,['day'],['year']);dobCheck()"
                        required>
                        <option *ngFor="let item of monthDate" [value]="item.id">{{item.name}}</option>
                      </select>
                    </div>
  
                    <!-- <label class="col-sm-1 form-control-label" for="dob">date </label>  -->
                    <div class="col-sm-1 col-xs-6 col-md-4 controls">
                      <select class="form-control" id="sel1" [(ngModel)]="dateSelect" [ngModelOptions]="{standalone: true}" (change)="setDays(['month'],dateSelect,['year']);dobCheck()"
                        required>
                        <option *ngFor="let item of dummyDate" [value]="item">{{item}}</option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <!-- <div class="col-sm-6 col-xs-6 col-md-9 controls row">
                                  <div class="col-sm-2 col-md-3 form-control-label"></div>
                                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.year' | translate}}</div>
                                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.month' | translate}}</div>
                                  <div class="col-sm-1 col-xs-6 col-md-3 controls">{{'profile.date' | translate}}</div>   
                              </div> -->
  
  
              </div>
              <div class="form-group row errorMessage color_red" *ngIf="dobError">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6">
                  {{'Stepper.Invalid Date' | translate}}
                </div>
              </div>
              <div class="form-group row" *ngIf="!personal">
                <label class="col-sm-2 form-control-label">{{'Stepper.Gender' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" id="gender" name="gender" [(ngModel)]="genderView" type="text" [readonly]="true">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="personal">
                <label class="col-sm-2 form-control-label">{{'Stepper.Gender' | translate}}</label>
                <div class="col-sm-3">
                  <label class="radio-inline label-inline" for="inline-radio1">
                    <input id="inline-radio1" name="inline-radios" type="radio" value="male" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
                      (change)="handleGenderChange($event)">
                    <span>{{'Stepper.Male' | translate}}</span>
                  </label>
                </div>
                <div class="col-sm-3">
                  <label class="radio-inline label-inline" for="inline-radio2">
                    <input id="inline-radio2" name="inline-radios" type="radio" value="female" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
                      (change)="handleGenderChange($event)">
                    <span>{{'Stepper.Female' | translate}}</span>
                  </label>
                </div>
              </div>
              <div class="form-group row" *ngIf="genderError">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6">
                  {{'Stepper.Required' | translate}}
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="Address">{{'Stepper.Address' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <textarea class="form-control" id="Address" (focus)="addrFlag=true" (focusout)="addrFlag=false" name="textarea-input" name="Address"
                    [readonly]="!personal" [(ngModel)]="address" rows="3" #addr="ngModel" maxlength="500" required></textarea>
                  <span class="help-block right" *ngIf="addrFlag && personal">{{'Common.maxLetterLimit' | translate}} {{addrCount}}/500</span>
                </div>
              </div>
  
              <div class="form-group row errorMessage color_red" *ngIf="addr.errors && addr.dirty">
                <div class="col-sm-2"></div>
                <div class="col-sm-6 col-xs-12 col-md-6" [hidden]="!addr.hasError('required')">
                  {{'Stepper.Address required' | translate}}
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <strong>
                  <label class="col-sm-12 " for="textarea-input">{{'Stepper.Bank Details' | translate}}</label>
                </strong>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="bankname">{{'Stepper.Bank Name' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="bankname" name="bankname" [readonly]="!personal" [(ngModel)]="bankName" #bankname="ngModel"
                      maxlength="70" pattern="^([a-zA-Z]+)[ A-Za-z0-9_@./#&+\-,]*$" required>
                  </div>
                </div>
              </div>
  
              <div class="form-group row errorMessage color_red" *ngIf="bankname.errors && bankname.dirty">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6" [hidden]="!bankname.hasError('required')">
                  {{'Stepper.Bank Name required' | translate}}
                </div>
                <div class="col-sm-6" [hidden]="!bankname.hasError('pattern') ">{{'Stepper.Invalid Bank Name' | translate}}</div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="accountno">{{'Stepper.Bank Account Number' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="accountno" name="accountno" [readonly]="!personal" [(ngModel)]="accountNo" maxlength="20"
                      pattern="^[0-9]+$" #accountno="ngModel" required>
                  </div>
                </div>
              </div>
  
              <div class="form-group row errorMessage color_red" *ngIf="accountno.errors && accountno.dirty">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6" [hidden]="!accountno.hasError('required')">
                  {{'Stepper.Bank Account Number required' | translate}}
                </div>
                <div class="col-sm-6" [hidden]="!accountno.hasError('pattern') ">{{'Stepper.Invalid Bank Account Number' | translate}}</div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="ifsccode">{{'Stepper.IFSC Code' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="ifsccode" name="ifsccode" [readonly]="!personal" [(ngModel)]="ifscCode" maxlength="11" #ifsccode="ngModel"
                      pattern="(\w{11})" required>
                  </div>
                </div>
              </div>
  
              <div class="form-group row errorMessage color_red" *ngIf="ifsccode.errors && ifsccode.dirty">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6" [hidden]="!ifsccode.hasError('required')">
                  {{'Stepper.IFSC Code required' | translate}}
                </div>
                <div class="col-sm-6" [hidden]="!ifsccode.hasError('pattern') ">{{'Stepper.Invalid IFSC Code' | translate}}</div>
              </div>
              <div class="float-right" *ngIf="personal">
                <button type="button" class="btn btn-default" (click)="personal=false;cancelPersonalDetails()">{{ 'Profile.cancel' | translate }}</button>
                <button type="button" class="btn btn-success" (click)="personal=false;stepTwo();" [disabled]="!personalFormSave || personalForm.form.invalid || dobError">{{ 'Registration.Create' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">{{'Stepper.Basic Details' | translate}}
            <div class="float-right">
              <button type="button" class="btn btn-link" (click)="basic=true;stepOneEdit()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'Profile.Make Change' | translate}}</button>
            </div>
          </div>
          <div class="card-block">
            <form class="form-horizontal">
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">{{'Stepper.District' | translate}}</label>
                <div class="controls col-sm-8 col-xs-12 col-md-6">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" type="text" name="district" list="district" [(ngModel)]="districtName" disabled />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="Taluka">{{'Stepper.Taluka' | translate}}</label>
                <div class="controls col-sm-8 col-xs-12 col-md-6">
                  <input class="form-control input-sm" type="text" name="taluka" list="taluka" [(ngModel)]="talukaName" disabled />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="School">{{'Stepper.School Name' | translate}}</label>
                <div class="controls col-sm-8 col-xs-12 col-md-6">
                  <div class="input-prepend input-group">
                    <input class="form-control input-sm" type="text" name="schoolname" list="schoolname" [(ngModel)]="schoolName" disabled />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="SchoolIndex">{{'Stepper.School Index Number' | translate}}</label>
                <div class="controls col-sm-8 col-xs-12 col-md-6">
                  <div class="input-prepend input-group">
                    <input readonly class="form-control input-sm" id="input-small" name="input-small" [(ngModel)]="schoolIndex" [ngModelOptions]="{standalone: true}"
                      type="text">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="!basic">
                <label class="col-sm-2 form-control-label" for="Designation">{{'Stepper.Designation' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="designation" name="Designation" [readonly]="true" [(ngModel)]="designationView">
                  </div>
                </div>
              </div>
  
              <div class="form-group row" *ngIf="basic">
                <label class="col-sm-2 form-control-label">{{'Stepper.Designation' | translate}}</label>
                <div class="col-sm-3">
                  <label class="radio-inline label-inline" for="inline-radio1">
                    <input id="inline-radio1" name="inline-radios" type="radio" value="headmaster" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}"
                      (change)="designationChange($event)">
                    <span>{{'Stepper.Head Master' | translate}}</span>
                  </label>
                </div>
                <div class="col-sm-3">
                  <label class="radio-inline label-inline" for="inline-radio2">
                    <input id="inline-radio2" name="inline-radios" type="radio" value="teacher" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}"
                      (change)="designationChange($event)">
                    <span>{{'Stepper.Teacher' | translate}}</span>
                  </label>
                </div>
              </div>
              <div class="form-group row" *ngIf="designationError">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 col-xs-12 col-md-6">
                  {{'Stepper.select designsation' | translate}}
                </div>
              </div>
              <div class="float-right" *ngIf="basic">
                <button type="button" class="btn btn-default" (click)="basic=false;cancelBasicDetails()">{{ 'Profile.cancel' | translate }}</button>
                <button type="button" class="btn btn-success" [disabled]="!basicFormSave" (click)="stepOne();">{{ 'Registration.Create' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">{{'Stepper.Service Details' | translate}}
            <div class="float-right">
              <button type="button" class="btn btn-link" (click)="service=true;designationError = false;designationFlag = false;serviceFormSave = false;gradesFlag = false;dojError=false;dojSelect=false;serviceEdit()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> बदल करा</button>
            </div>
          </div>
          <div class="card-block">
            <form class="form-horizontal" #serviceForm="ngForm">
              <div class="form-group row" *ngIf="!service">
                <label class="col-sm-2 form-control-label" for="doj">{{'Stepper.Date Of Joining' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="doj" type="text" name="doj" [readonly]="true" [(ngModel)]="dateofJoinView">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="service">
                <label class="col-sm-2 form-control-label">{{'Stepper.Date Of Joining' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6">
                  <select class="form-control" id="sel1" [(ngModel)]="dateofJoin" [ngModelOptions]="{standalone: true}" (change)="onDojChange()"
                    required>
                    <!-- <option disabled >Select</option> -->
                    <option *ngFor="let item of dojJson" [value]="item">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row errorMessage color_red" *ngIf="dojError">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 col-xs-12 col-md-6">
                  {{'Stepper.Invalid Year' | translate}}
                </div>
              </div>
              <div class="form-group row" *ngIf="!service">
                <label class="col-sm-2 form-control-label" for="sub">{{'Stepper.Subject' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="subject" name="subject" [readonly]="true" [(ngModel)]="subjectView">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="service">
                <label class="col-sm-2 form-control-label">{{'Stepper.Subject' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6">
                  <angular2-multiselect [data]="dropdownListSubject" [(ngModel)]="subject1" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                    (onDeSelect)="OnItemDeSelect($event)" [ngModelOptions]="{standalone: true}"></angular2-multiselect>
                </div>
              </div>
              <div class="form-group row" *ngIf="!service">
                <label class="col-sm-2 form-control-label" for="grade">{{'Stepper.Grades' | translate}}</label>
                <div class="col-sm-8 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="grade" name="grade" [readonly]="true" [(ngModel)]="gradesView">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="service">
                <label class="col-sm-2 form-control-label">{{'Stepper.Grades' | translate}}</label>
                <div class="col-sm-2">
                  <label class="checkbox-inline label-inline" for="inline-checkbox1">
                    <input id="inline-checkbox1" name="grades[]" type="checkbox" [(ngModel)]="grade8" [value]="grade8" [ngModelOptions]="{standalone: true}"
                      (change)="classCheck($event)">
                    <span>{{'Stepper.Class 8th' | translate}}</span>
                  </label>
                </div>
                <div class="col-sm-2">
                  <label class="checkbox-inline label-inline" for="inline-checkbox2">
                    <input id="inline-checkbox2" name="grades[]" type="checkbox" [(ngModel)]="grade9" [value]="grade9" [ngModelOptions]="{standalone: true}"
                      (change)="classCheck1($event)">
                    <span>{{'Stepper.Class 9th' | translate}}</span>
                  </label>
                </div>
                <div class="col-sm-2">
                  <label class="checkbox-inline label-inline" for="inline-checkbox3">
                    <input id="inline-checkbox3" name="grades[]" type="checkbox" [(ngModel)]="grade10" [value]="grade10" [ngModelOptions]="{standalone: true}"
                      (change)="classCheck2($event)">
                    <span>{{'Stepper.Class 10th' | translate}}</span>
                  </label>
                </div>
              </div>
              <div class="form-group row" *ngIf="classError">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 col-xs-12 col-md-6">
                  {{'Stepper.Select Class' | translate}}
                </div>
              </div>
              <div class="float-right" *ngIf="service">
                <button type="button" class="btn btn-default" (click)="service=false;cancelServiceDetails()">{{ 'Profile.cancel' | translate }}</button>
                <button type="button" class="btn btn-success" [disabled]="!serviceFormSave" (click)="stepThree();">{{ 'Registration.Create' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            {{'Stepper.Education Details' | translate}}
            <div class="float-right">
              <button type="button" class="btn btn-link" (click)="educational=true;stepFourEdit()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{'Profile.Make Change' | translate}}</button>
            </div>
          </div>
          <div class="card-block">
            <form class="form-horizontal" #educationForm="ngForm">
              <div class="" *ngIf="!educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="underGraduate">{{'Stepper.Under Graduate' | translate}}</label>
                  <div class="controls col-sm-4 col-xs-12 col-md-6">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="underGraduate" name="underGraduate" [readonly]="true" [(ngModel)]="underGraduateView">
                    </div>
                  </div>
                  <div *ngIf="underGraduateView === 'Others'" class="col-xs-12 col-sm-6 offset-sm-2 mt-2">
                    <input class="form-control input-sm" id="otherUgSpecial" [(ngModel)]="otherUgSpecial" [readonly]="true" [ngModelOptions]="{standalone: true}"
                      type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="ugSpecialisation">{{'Stepper.Under Graduate Specialisation' | translate }}</label>
                  <div class="controls col-sm-4 col-xs-12 col-md-6">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="ugSpecialisation" name="ugSpecialisation" [readonly]="true" [(ngModel)]="ugSpecialisation">
                    </div>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Under Graduate' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6">
                    <select id="underGraduate" class="form-control" [(ngModel)]="underGraduate" [ngModelOptions]="{standalone: true}" autofocus
                      required>
                      <option value="">Select</option>
                      <option value="B.A.">B.A.</option>
                      <option value="B.Com.">B.Com.</option>
                      <option value="B.Sc.">B.Sc.</option>
                      <option value="other">Others</option>
                    </select>
                  </div>
                  <div *ngIf="underGraduate === 'other'" class="col-xs-12 col-sm-6 offset-sm-2 mt-2">
                    <input class="form-control input-sm" id="otherUgSpecial" (focus)="otherUgFlag=true" (focusout)="otherUgFlag=false" [(ngModel)]="otherUgSpecial"
                      [ngModelOptions]="{standalone: true}" maxlength="50" name="input-small" placeholder="{{ 'newTranslate.otherDegree' | translate }}" type="text"
                      #other="ngModel" autocomplete='off' required>
                    <span class="help-block right" *ngIf="otherUgFlag">{{'Common.maxLetterLimit' | translate}} {{otherUgCount}}/50</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Under Graduate Specialisation' | translate }}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6">
                    <input class="form-control input-sm" id="input-small" (focus)="ugSpecialisationFlag=true" (focusout)="ugSpecialisationFlag=false"
                      name="input-small" [(ngModel)]="ugSpecialisation" maxlength="50" type="text" autocomplete='off' required>
                    <span class="help-block right" *ngIf="ugSpecialisationFlag">{{'Common.maxLetterLimit' | translate}} {{ugSpecialisationCount}}/50</span>
                  </div>
                </div>
              </div>
              <div *ngIf="!educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="postGraduate">{{'Stepper.Post Graduate' | translate}}</label>
                  <div class="controls col-sm-4 col-xs-12 col-md-6">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="postGraduate" name="postGraduate" [readonly]="true" [(ngModel)]="postGraduateView">
                    </div>
                  </div>
                  <div *ngIf="postGraduateView === 'Others'" class="col-xs-12 col-sm-6 offset-sm-2 mt-2">
                    <input type="text" class="form-control" id="postGraduateView" [(ngModel)]="otherPgSpecial" [ngModelOptions]="{standalone: true}"
                      [readonly]="true">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="pgSpecialisation">{{'Stepper.Post Graduate Specialisation' | translate}}</label>
                  <div class="controls col-sm-4 col-xs-12 col-md-6">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="pgSpecialisation" name="pgSpecialisation" [readonly]="true" [(ngModel)]="pgSpecialisation">
                    </div>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Post Graduate' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6">
                    <select class="form-control" id="sel1" [(ngModel)]="postGraduate" [ngModelOptions]="{standalone: true}">
                      <option value="">Select</option>
                      <option value="M.A.">M.A.</option>
                      <option value="M.Com.">M.Com.</option>
                      <option value="M.Sc.">M.Sc.</option>
                      <option value="pgother">Others</option>
                    </select>
                  </div>
                  <div *ngIf="postGraduate === 'pgother'" class="col-xs-12 col-sm-6 offset-sm-2 mt-2">
                    <input type="text" id="otherPgSpecial" (focus)="otherPgSpecialFlag=true" (focusout)="otherPgSpecialFlag=false" [(ngModel)]="otherPgSpecial"
                      [ngModelOptions]="{standalone: true}" maxlength="50" class="form-control" placeholder="{{ 'newTranslate.otherDegree' | translate }}" autocomplete='off'
                      autofocus>
                    <span class="help-block right" *ngIf="otherPgSpecialFlag">{{'Common.maxLetterLimit' | translate}} {{otherPgSpecialCount}}/50</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Post Graduate Specialisation' | translate}}</label>
                  <div class="col-sm-4 col-md-6 col-xs-12">
                    <input class="form-control input-sm" id="input-small" (focus)="pgSpecialisationFlag=true" (focusout)="pgSpecialisationFlag=false"
                      name="input-small" [(ngModel)]="pgSpecialisation" [ngModelOptions]="{standalone: true}" maxlength="50"
                      type="text" [disabled]="!pgSpecialFlag" autocomplete='off'>
                    <span class="help-block right" *ngIf="pgSpecialisationFlag">{{'Common.maxLetterLimit' | translate}} {{pgSpecialisationCount}}/50</span>
                  </div>
                </div>
              </div>
              <div *ngIf="!educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="professional">{{'Stepper.Professional' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6 controls">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="professional" name="professional" [readonly]="true" [(ngModel)]="professionalView">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="professionalSpecialization">{{'Stepper.Professional Specialisation' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6 controls">
                    <div class="input-prepend input-group">
                      <input class="form-control" id="professionalSpecialization" name="professionalSpecialization" [readonly]="true" [(ngModel)]="professionalSpecialization">
                    </div>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="educational">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Professional' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6">
                    <select id="professional" class="form-control" [(ngModel)]="professional" [ngModelOptions]="{standalone: true}" name="professional"
                      autofocus required>
                      <option value="">Select</option>
                      <option value="D.Ed.">D.Ed.</option>
                      <option value="B.Ed.">B.Ed.</option>
                      <option value="M.Ed.">M.Ed.</option>
                      <option value="B.P.Ed.">B.P.Ed.</option>
                      <option value="M.P.Ed.">M.P.Ed.</option>
                      <option value="A.T.D.">A.T.D.</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Professional Specialisation' | translate}}</label>
                  <div class="col-sm-4 col-xs-12 col-md-6">
                    <input class="form-control input-sm" id="input-small" (focus)="professionalSpecializationFlag=true" (focusout)="professionalSpecializationFlag=false"
                      name="input-small" [(ngModel)]="professionalSpecialization" [ngModelOptions]="{standalone: true}" maxlength="80"
                      type="text" autocomplete='off' required>
                    <span class="help-block right" *ngIf="professionalSpecializationFlag">{{'Common.maxLetterLimit' | translate}} {{professionalSpecializationCount}}/80</span>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="!educational">
                <label class="col-sm-2 form-control-label" for="othersQualification">{{'Stepper.Other' | translate}}</label>
                <div class="col-sm-4 col-xs-12 col-md-6 controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" id="othersQualification" name="othersQualification" [readonly]="true" [(ngModel)]="othersQualification">
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="educational">
                <label class="col-sm-2 form-control-label" for="input-small">{{'Stepper.Other' | translate}}</label>
                <div class="col-sm-4 col-xs-12 col-md-6">
                  <input class="form-control input-sm" id="input-small" (focus)="othersQualificationFlag=true" (focusout)="othersQualificationFlag=false"
                    name="input-small" [(ngModel)]="othersQualification" [ngModelOptions]="{standalone: true}" maxlength="200"
                    type="text" autocomplete='off'>
                  <span class="help-block right" *ngIf="othersQualificationFlag">{{'Common.maxLetterLimit' | translate}} {{othersQualificationCount}}/200</span>
                </div>
              </div>
              <div class="float-right" *ngIf="educational">
                <button type="button" class="btn btn-default" (click)="educational=false;cancelEducationDetails()">{{ 'Profile.cancel' | translate }}</button>
                <button type="button" class="btn btn-success" (click)="educational=false;stepFour();" [disabled]="!educationFormSave || !educationForm.form.valid">{{ 'Registration.Create' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #emailChangeProfile="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'Profile.Change Email' | translate }}</h4>
          <button type="button" class="close" (click)="emailChangeProfileHide()" aria-label="Close" id="btnCloseModal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="sendEmailOtp">
            <form #emailChange="ngForm">
              <div class="form-group row">
                <label class="col-sm-3 form-control-label " for="input-small">{{ 'Profile.New Email' | translate }}</label>
                <div class="input-group col-sm-9">
                  <input type="text" class="form-control input-sm" id="newEmail" name="newEmail" [(ngModel)]="newEmail" maxlength="254" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    #newEmailId="ngModel" autocomplete='off' [disabled]="emailAccept" (ngModelChange)="valuechange($event)" required>
                </div>
              </div>
  
              <div *ngIf="!showErrorMsg" [hidden]="newEmailId.valid || newEmailId.pristine" class="alert alert-danger errorMessage">
                <div [hidden]="!newEmailId.hasError('required')">{{'Login.Email required' | translate}}</div>
                <div [hidden]="!newEmailId.hasError('pattern')">{{'Login.Email Error' | translate}}</div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="password">{{'Login.password' | translate}}</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="password" name="password" type="password" [(ngModel)]="password" #pass="ngModel"
                      [disabled]="emailAccept" required>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="!showErrorMsg">
                <div class="col-md-6 col-sm-6 col-xs-3 form-control-label"></div>
                <div class="col-md-6 col-sm-6 col-xs-3">
                  <div class="form-group">
                    <button type="button" class="text-center btn btn-block btn-success" data-toggle="modal" (click)="generateEmailOtp();" [disabled]="emailChange.form.invalid">{{'Registration.Send OTP' | translate}}</button>
                  </div>
                </div>
              </div>
  
              <div class="form-group row" *ngIf="showErrorMsg">
                <div class="col-xs-12 btn-move">
                  <span class="color_red">{{'newTranslate.diffFromThis'|translate}}</span>
                  <br>
                  <br>
                  <label for="checkbox1">
                    <input id="checkbox1" name="agree" type="checkbox" [(ngModel)]="checkAgree" (change)="agree($event)">
                  </label>
                  <span class="questionHead">{{'newTranslate.agree'|translate}}</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-3 form-control-label"></div>
                <div class="col-md-6 col-sm-6 col-xs-3">
                  <div class="form-group">
                    <button type="button" class="text-center btn btn-block btn-success" [disabled]="!checkAgree" (click)="confirmGenerateEmailOTP()">{{'Registration.Send OTP' | translate}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="!sendEmailOtp">
            <form #emailChangeVerify="ngForm">
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="emailOtp">{{'Profile.New Email' | translate}}</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="newEmail" name="newEmail" type="text" [(ngModel)]="newEmail" readonly>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="emailOtp">{{'Registration.Email OTP' | translate}}</label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="emailOtp" name="emailOtp" type="text" [(ngModel)]="emailOtp" #emailidOtp="ngModel"
                      maxlength="6" autocomplete='off' required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="form-group">
                    <button type="button" class="text-center btn btn-block btn-success" data-toggle="modal" (click)="verifyEmailOtp();" [disabled]="emailChangeVerify.form.invalid">{{ 'Login.Submit' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="input-small"></label>
                <p class="input-group col-sm-9 color_red">{{'Registration.if not' | translate}}
                  <a (click)="confirmGenerateEmailOTP()" class="resend"> &nbsp; {{'Registration.resend' | translate}}</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div bsModal #mobileChangeProfile="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'Profile.Change Mobile' | translate }}</h4>
          <button type="button" class="close" (click)="mobileChangeProfileHide()" aria-label="Close" id="btnCloseModal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="sendMobileOtp">
            <form #mobileChange="ngForm">
              <div class="form-group row">
                <label class="col-sm-3 form-control-label " for="input-small">{{ 'Profile.New Mobile' | translate }}</label>
                <div class="input-group col-sm-9">
                  <input type="text" class="form-control input-sm" id="newMobile" name="newMobile" [(ngModel)]="newMobile" pattern="^[7-9]\d{9}$"
                    minlength="10" maxlength="10" #newMobileNo="ngModel" autocomplete='off' required>
                </div>
              </div>
              <div [hidden]="newMobileNo.valid || newMobileNo.pristine" class="alert alert-danger errorMessage">
                <div [hidden]="!newMobileNo.hasError('minlength')">{{'Registration.Mobile Number should be 10-digit' | translate}}</div>
                <div [hidden]="!newMobileNo.hasError('required')">{{'Registration.Mobile required' | translate}}</div>
                <div [hidden]="!newMobileNo.hasError('pattern') ">{{'Registration.Invalid Mobile Number' | translate}}</div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="password">{{'Login.password' | translate}}</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="passwordMobile" name="passwordMobile" type="password" [(ngModel)]="passwordMobile"
                      #passwordMobileNo="ngModel" required>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 col-sm-6 col-xs-3 form-control-label"></div>
                <div class="col-md-6 col-sm-6 col-xs-3">
                  <div class="form-group">
                    <button type="button" class="text-center btn btn-block btn-success" data-toggle="modal" (click)="generateMobileOtp()" [disabled]="mobileChange.form.invalid">{{'Registration.Send OTP' | translate}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="!sendMobileOtp">
            <form #mobileChangeVerify="ngForm">
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="emailOtp">{{'Profile.New Mobile' | translate}}</label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="newMobile" name="newMobile" type="text" [(ngModel)]="newMobile" readonly>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-sm-3 col-xs-3 form-control-label" for="emailOtp">{{'Registration.Mobile OTP' | translate}}</label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="form-group">
                    <input class="form-control form-control-success" id="mobileOtp" name="mobileOtp" type="text" [(ngModel)]="mobileOtp" #mobileNoOtp="ngModel"
                      maxlength="6" autocomplete='off' required>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="form-group">
                    <button type="button" class="text-center btn btn-block btn-success" data-toggle="modal" (click)="verifyMobileOtp();" [disabled]="mobileChangeVerify.form.invalid">{{ 'Login.Submit' | translate }}</button>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label" for="input-small"></label>
                <p class="input-group col-sm-9 color_red">{{'Registration.if not' | translate}}
                  <a (click)="singleOTPGenerateRequest(2)" class="resend"> &nbsp; {{'Registration.resend' | translate}}</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  
  <div bsModal #emailVerifyProfile="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'Profile.emailNotVerified' | translate }}</h4>
          <button type="button" class="close" (click)="emailVerifyProfileHide();sendEmail=false;click_here_email=false" aria-label="Close"
            id="btnCloseModal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form #emailNotVerified="ngForm">
              <div>
                <div class="form-group row">
                  <label class="col-sm-3 form-control-label " for="input-small">{{'Registration.Email' | translate}}</label>
                  <div class="input-group col-sm-9">
                    <input type="text" id="emailId" class="form-control fogetInputMargin" placeholder="{{'Registration.Email' | translate}}"
                      [(ngModel)]="oldEmailVerify" name="emailId" pattern="^[_A-Za-z0-9-\+]+(\.[._A-Za-z0-9-]+)*@(gmail|yahoo|hotmail|rediffmail|outlook|live)+(\.(com|in|org|edu|net|co.in|edu.in|org.in)+)$"
                      #emailId1="ngModel" [readonly]="!click_here_email" maxlength="254" autocomplete='off' required>
                    <span class="input-group-btn">
                      <button class="btn btn-primary verifyButtonWidth" type="button" (click)="sendEmail=true;click_here_email=false;sendOTPForVerify();"
                        [disabled]="emailId1.invalid">{{'Registration.Send OTP' | translate}}</button>
                    </span>
                  </div>
                </div>
                <div class="form-group row" *ngIf="!click_here_email">
                  <label class="col-sm-3 form-control-label " for="input-small"></label>
                  <P class="input-group col-sm-9 color_red">ई-मेल बदल करण्यासाठी इथे
                    <a class="click_here" (click)="click_here_email=true;changeEmail();">
                    &nbsp;क्लिक करा</a>
                  </P>
                </div>
                <div [hidden]="emailId1.valid || emailId1.pristine" class="alert alert-danger errorMessage">
                  <div [hidden]="!emailId1.hasError('required')">{{'Registration.Email required' | translate}}</div>
                  <div [hidden]="!emailId1.hasError('pattern')">{{'Registration.Email should be in abc@gmail.com format' | translate}}</div>
                </div>
              </div>
              <div *ngIf="sendEmail">
                <div class="form-group row">
                  <label class="col-sm-3 form-control-label" for="input-small">{{'Registration.Email OTP' | translate}}</label>
                  <div class="input-group col-sm-9">
                    <input class="form-control fogetInputMargin" id="emailOTP" #emailOTP1="ngModel" name="emailOTP" placeholder="{{'Registration.Email OTP' | translate}}"
                      [(ngModel)]="emailOtp" [ngModelOptions]="{standalone: true}" type="text" maxlength="6" autocomplete='off'
                      required>
                    <span class="input-group-btn">
                      <button class="btn btn-primary verifyButtonWidth" type="button" [disabled]="emailOTP1.invalid" (click)="verifyEmailOtpPending()">{{'Registration.Verify' | translate}}</button>
                    </span>
                  </div>
                </div>
                <div class="form-group row loginInput">
                  <label class="col-sm-3 form-control-label" for="input-small"></label>
                  <p class="input-group col-sm-9 color_red">{{'Registration.if not' | translate}}
                    <a (click)="regenerateOPT()" class="resend">&nbsp; {{'Registration.resend' | translate}}</a>
                  </p>
                </div>
                <div class="input-group  row loginInput color_red" *ngIf="emailOTP1.errors && emailOTP1.dirty">
                  <label class="col-sm-3 form-control-label" for="input-small"></label>
                  <div [hidden]="!emailOTP1.hasError('required')">{{'Registration.OTP required' | translate}}</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  