<button class="btn btn-primary" (click)="uploadImageModal.show();emptySumbitMessage=false;wrongFileSelection=false">{{'Profile.selectProfilePhoto' | translate}}</button>

<div bsModal #uploadImageModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-default modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="file btn btn-primary fileUpload">
                    {{'Profile.selectProfilePhoto' | translate}}
                    <input id="custom-input" type="file" name="image" accept="image/jpg, image/jpeg, image/png" (change)="fileChangeListener($event)">
                </div>
                <div *ngIf="wrongFileSelection" class="color_red">{{'Profile.wrongFile' | translate}}</div>
                <div *ngIf="emptySumbitMessage" class="color_red">{{'Profile.selectImageError' | translate}}</div>
                <button type="button" class="close" (click)="uploadImageModal.hide();cropper.reset()" aria-label="Close" id="btnCloseModal">
                     <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                <img-cropper #cropper class="img-fluid" [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
                <br>
            </div>
            <div class="modal-footer floatRight">
                <div>
                    <button type="button" class="text-center btn btn-primary" data-toggle="modal" (click)="sendImage()">{{'Cfu.submit' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>