<div *ngIf="mainFlagModule1 < 5">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule3_1.3_2' | translate}}</p>
      <p>
        <strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>


<div *ngIf="mainFlagModule1 == 5">
  <div *ngIf="subFlagModule1 == 1 && showVideoFlag">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="card-footer">
                <h6 class="text-center">{{'L2Module2.mitra' | translate}}</h6>
            </div>
          <div class="card-block text-center">
            <app-static-video [receivedData]='passData' (finishCall)="videoFinish($event)"></app-static-video>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="text-center list-checklist">
      <button type=" button " class="text-center btn btn-primary mt-2" [disabled]="!nextBtnFlag" data-toggle="modal " (click)="next(); ">{{'Stepper.Next' | translate}}</button>
    </div> -->
  </div>

  <div *ngIf="subFlagModule1 == 2">
    <div *ngIf="!showVideoFlag">
      <div class="instruction-wrap">
        <div class="card">
          <div class="card-header text-white">
            <span class="exp-img instructions-img"></span>
            <h4>{{'Quiz.note' | translate}}</h4>
          </div>
          <div class="card-block inst-text">
            <p>{{'number.1' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_1' | translate}}</p>
            <p>{{'number.2' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_2' | translate}}</p>
            <p>{{'number.3' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_3' | translate}}</p>
            <p>{{'number.4' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_4' | translate}}</p>
            <p>{{'number.5' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_5' | translate}}</p>
            <p>{{'number.6' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_13' | translate}}</p>
          </div>
          <div class="card-footer">
            <div class="float-right hidden-xs-down">
              <button class="btn btn-primary" appPreventDoubleClick
                (debounceClick)="start1();">{{'Module4.start' | translate}}</button>
            </div>
            <!-- <div class="hidden-sm-up text-center">
            <button class="btn btn-primary" (click)="start1();">{{'Module4.start' | translate}}</button>
          </div> -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showVideoFlag">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module1.subMenu1-5' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-video-player [inputData]="videoData" (finishCall)="finishCFU($event)"></app-video-player>
        </div>
        <!-- <div class="card-footer">
                <h6 class="text-center">{{'Module5.subMenu1-3' | translate}}</h6>
            </div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule1 > 5">
  <div class="card unlock-view">
    <div class="card-block cc">
      <div class="row static-content" *ngIf="flag == 0">
        <div class="col-md-4">
          <p class="title">{{'number.1' | translate}}. {{'L2Module2.mitra' | translate}}</p>
          <div class="img-wrap">
            <a (click)="showVideo(urlArray['src1'],'L2Module2.mitra',1)">
              <img class="img-fluid v_thumb" src="./../../assets/img/thumb/3.8.1-Mitra-(M3B).png" alt="">
              <div class="hover-opaque">
                <i class="fa fa-play-circle fa-2x"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <p class="title">{{'number.2' | translate}}. {{'L2Module1.subMenu1-5' | translate}}</p>
          <div class="img-wrap">
            <a (click)="showVideo(urlArray['src2'],'L2Module1.subMenu1-5',2)">
              <img class="img-fluid v_thumb" src="./../../assets/img/thumb/3.8.2.png" alt="">
              <div class="hover-opaque">
                <i class="fa fa-play-circle fa-2x"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="flag == 1">
        <div class="card-header text-center bg-white border-0">
          <h5>
            {{thumb_title | translate}}
          </h5>
        </div>
        <app-static-video [receivedData]='passData'></app-static-video>
        <div class="card-footer bg-white border-0 mt-3 text-center">
          <a class="btn btn-primary text-white c-pointer" (click)="flag=0">{{'Stepper.Back' | translate}}</a>
        </div>
      </div>
      <div *ngIf="flag == 2">
        <div class="card-header text-center bg-white border-0">
          <h5>
            {{thumb_title | translate}}
          </h5>
        </div>
        <app-static-video [receivedData]='passData'></app-static-video>
        <div class="card-footer bg-white border-0 mt-3 text-center">
          <a class="btn btn-primary text-white c-pointer" (click)="flag=0">{{'Stepper.Back' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="videoFinishModal videoFinishedModel">
  <div bsModal #instructionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <img class="img-responsive img-rotate" src="assets/img/mitra.png">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
        </div>
        <div class="modal-body">
          <p class="px-5 text-center">तुमचा व्हिडिओ पूर्ण झाला</p>
          <hr />
          <div class="col-md-12 text-right">
            <button class="btn btn-primary text-center" (click)="next()">{{'Stepper.Next' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
