<div *ngIf="mainFlagModule1 < 11">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule5_1.5_1' | translate}}</p>
      <p>
        <strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule1 == 11">
  <div *ngIf="subFlagModule1 == 1">
    <div class="instruction-wrap ins-block" *ngIf="!playVideo">
      <div>
        <div class="card">
          <div class="card-header">
              <span class="exp-img instructions-img"></span>
            <h5>
              {{'Quiz.note' | translate}}</h5>
          </div>
          <div class="card-block inst-text">
            <p>{{'subModule5_1.1' | translate}}</p>
          </div>
          <div class="card-footer text-right">
            <button class="btn btn-primary" appPreventDoubleClick
              (debounceClick)="startEvent1()">{{'Login.Close' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="playVideo">
      <div class="card">
        <div class="card-footer">
          <h6 class="text-center">{{'L2Module1.subMenu1-11' | translate}}</h6>
        </div>
        <div class="card-block">
          <app-static-video [receivedData]='passData' (finishCall)="finishVideo($event)"></app-static-video>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="subFlagModule1 == 2">
      <div class="instruction-wrap ins-block" *ngIf="instFlag">
          <div>
            <div class="card">
              <div class="card-header">
                  <span class="exp-img instructions-img"></span>
                <h5>
                  {{'Quiz.note' | translate}}</h5>
              </div>
              <div class="card-block inst-text">
                <p>{{'L2Module1.inst1_11' | translate}}</p>
              </div>
              <div class="card-footer text-right">
                <button class="btn btn-primary" appPreventDoubleClick
                  (debounceClick)="startEvent2()">{{'Login.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
    <div class="assignForm"  *ngIf="!nextFlag && !instFlag">
      <div class="card">
          <h6 class="questionHead lineHeight">{{'L2common.caution' | translate}} <span [innerHTML]="inst"> </span></h6>
        <div class="card-header">
          <h5 [innerHTML]="description">
          </h5>
        </div>
        <div class="card-block pt-2">
          <form #assignForm="ngForm">
            <div class="form-group row">
              <label class="col-sm-4 col-md-4 form-control-label" [class.font-weight-bold]="queFlag" for="answer1" [innerHTML]="question1"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer1" name="answer1" [(ngModel)]="answer1" rows="3" #addr="ngModel"
                (focus)="showLimit['1']=true" (focusout)="showLimit['1']=false"  required></textarea>
              </div>
              <div *ngIf="showLimit['1']==false && (postWordCount['1']>150 || postWordCount['1']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['1'] && postWordCount['1']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['1']}}/150</p>
            <div class="form-group row">
              <label class="col-sm-4 col-md-4 form-control-label" for="answer2" [innerHTML]="question2"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer2" name="answer2" [(ngModel)]="answer2" rows="3" #addr="ngModel" (focus)="showLimit['2']=true" (focusout)="showLimit['2']=false"
                  required></textarea>
              </div>
              <div *ngIf="showLimit['2']==false && (postWordCount['2']>150 || postWordCount['2']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['2'] && postWordCount['2']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['2']}}/150</p>
            <div class="form-group row">
              <label class="col-sm-4 col-md-4 form-control-label" for="answer3" [innerHTML]="question3"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer3" name="answer3" [(ngModel)]="answer3" rows="3" #addr="ngModel" (focus)="showLimit['3']=true" (focusout)="showLimit['3']=false"
                  required></textarea>
              </div>
              <div *ngIf="showLimit['3']==false && (postWordCount['3']>150 || postWordCount['3']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['3'] && postWordCount['3']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['3']}}/150</p>
            <div class="form-group row">
              <label class="col-sm-4 col-md-4 form-control-label" for="answer4" [innerHTML]="question4"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer4" name="answer4" [(ngModel)]="answer4" rows="3" #addr="ngModel" (focus)="showLimit['4']=true" (focusout)="showLimit['4']=false"
                  required></textarea>
              </div>
              <div *ngIf="showLimit['4']==false && (postWordCount['4']>150 || postWordCount['4']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['4'] && postWordCount['4']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['4']}}/150</p>
            <div class="form-group row">
              <label class="col-sm-4 col-md-4 form-control-label" for="answer5" [innerHTML]="question5"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer5" name="answer5" [(ngModel)]="answer5" rows="3" #addr="ngModel" (focus)="showLimit['5']=true" (focusout)="showLimit['5']=false"
                  required></textarea>
              </div>
              <div *ngIf="showLimit['5']==false && (postWordCount['5']>150 || postWordCount['5']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['5'] && postWordCount['5']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['5']}}/150</p>
            <div class="form-group row" *ngIf="queFlag">
              <label class="col-sm-4 col-md-4 form-control-label" for="answer6" [innerHTML]="question6"></label>
              <div class="col-md-8 col-sm-8 controls">
                <textarea class="form-control" id="answer6" name="answer6" [(ngModel)]="answer6" rows="3" #addr="ngModel" (focus)="showLimit['6']=true" (focusout)="showLimit['6']=false"
                  required></textarea>
              </div>
              <div  *ngIf="showLimit['6']==false && (postWordCount['6']>150 || postWordCount['6']<5)" class="offset-md-4 mt-2">
                  <p class="color_red pt-1 mb-0">{{'otherMessages.150Words' | translate}}</p>
              </div>
            </div>
            <p *ngIf="showLimit['6'] && postWordCount['6']>=1" class="text-right pt-1">{{'otherMessages.wordLimit' | translate}} {{postWordCount['6']}}/150</p>
          </form>
        </div>
        <div class="card-footer text-right bg-white border-0">
          <button class="btn btn-primary" [disabled]="assignForm.invalid || trimFlag"
            (click)="queFlag ? submit() : finish2();">{{'Login.Close' | translate}}</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="mainFlagModule1 > 11">
  <div class="card" *ngIf="!statVideoFlag">
    <div class="card-footer">
      <h6 class="text-center">{{'L2Module2.mitra' | translate}}</h6>
    </div>
    <div class="card-block">
      <app-static-video [receivedData]='passData'></app-static-video>
    </div>
  </div>
</div>

<div class="videoFinishModal videoFinishedModel">
  <div bsModal #instructionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- <div class="modal-dialog modal-default modal-sm modal-finish" role="document">
          <div class="modal-content brad-0">
              <div class="modal-footer text-center justify-content-center border-0">
                  <div class="row p-1">
                      <div class="col-md-12"><em class="fa fa-chevron-right"></em></div>
                      <div class="col-md-12 mb-1">
                          <p>आपका वीडियो पूरा हुआ।</p>
                      </div>
                      <div class="col-md-12">
                          <button class="btn btn-primary text-center" (click)="next()">{{'Stepper.Next' | translate}}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <img class="img-responsive img-rotate" src="assets/img/mitra.png">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> -->
        </div>
        <div class="modal-body">
          <p class="px-5 text-center">तुमचा व्हिडिओ पूर्ण झाला</p>
          <hr />
          <div class="col-md-12 text-right">
            <button class="btn btn-primary text-center" (click)="next()">{{'Stepper.Next' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
