<div *ngIf="mainFlagModule1 < 12">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule4_1.4_8' | translate}}</p>
      <p>
        <strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>
<div *ngIf="mainFlagModule1 == 12">
  <!-- <app-presentation [data]='passValues'></app-presentation> -->

  <div class="ins-block instruction-wrap" *ngIf="!startFlag">
    <div class="">
      <div class="card">
        <div class="card-header">
            <span class="exp-img instructions-img"></span>
          <h5>
            {{'Quiz.note' | translate}}</h5>
        </div>
        <div class="card-block inst-text">
          <!-- <p class="color_red">{{'L2Instruction.inst1_2a' | translate}}</p> -->
          <p>{{'number.1' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_6' | translate}}</p>
          <p>{{'number.2' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_7' | translate}}</p>
          <p>{{'number.3' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_8' | translate}}</p>
          <p>{{'number.4' | translate}}.&nbsp;{{'L2Module1_Sub.ins1_9' | translate}}</p>

        </div>
        <div class="card-footer">
          <div class="float-right hidden-xs-down">
            <button class="btn btn-primary" appPreventDoubleClick
              (debounceClick)="start();">{{'Module4.start' | translate}}</button>
          </div>
          <!-- <div class="hidden-sm-up text-center">
                    <button class="btn btn-primary" (click)="start();">{{'Module4.start' | translate}}</button>
                </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="startFlag">
      <div class="card-footer">
        <h6 class="lineHeight">
          <div class="text-center">{{'L2Module1.subMenu1-12' | translate}}</div>
        </h6>
      </div>
      <div>
        <div>
          <div class="card">
            <div class="card-header p-0">
              <h6 class="questionHead lineHeight">
                  <span [innerHTML]="'L2Module5.sub_5_23_4' | translate"></span>
                  <span [innerHTML]="question3"></span>            
              </h6>
            </div>
            <div class="card-block">
              <table class="table table-striped table-bordered">
                <thead>
                  <th class="text-center">{{'otherMessages.sr' | translate}}</th>
                  <th class="text-center">{{'otherMessages.statement' | translate}}</th>
                  <th class="text-center">{{'otherMessages.up' | translate}}</th>
                  <th class="text-center">{{'otherMessages.down' | translate}}</th>
                </thead>
                <tr *ngFor="let game of tasks; let i = index">
                  <td class="text-center">{{i + 1}}</td>
                  <td class="inst-text">{{game.statement}}</td>
                  <td class="text-center">
                    <i class="fa fa-arrow-up changePosition" aria-hidden="true" (click)="up(i)"></i>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-arrow-down changePosition" aria-hidden="true" (click)="down(i)"></i>
                  </td>
                </tr>
              </table>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary float-right" (click)="mcqTasks()">{{'Stepper.Finish' |
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="videoFinishModal videoFinishedModel marks-modal">
  <div bsModal #ratingModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <img class="img-responsive img-rotate" src="assets/img/mitra.png">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p class="px-5 text-center font-weight-normal">
            {{'L2Module5.inst_5_23' | translate}}
          </p>
          <hr />
        </div>
       <div class="modal-footer justify-content-center p-2">
          <button (click)="ratingModalHide()" class="btn btn-danger">{{'Cfu.no' | translate}}</button>
          <button (debounceClick)="finish4()" appPreventDoubleClick
            class="btn btn-success">{{'Cfu.yes' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
