 <header class="app-header navbar fixed-top bg-white">
   <div class="row w-100">
     <div class="col-6">
       <a class="navbar-brand-logo">
         <img src="./../../assets/img/logo_reg-page.png" alt="">
         <!-- <span class="level2"> - 2</span> -->
       </a>
     </div>
     <div class="col-6">
       <a href="#" class="btn btn-primary float-right logoutBtn" (click)="logout()">
         <i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;लॉग-आऊट
       </a>
     </div>
   </div>
 </header>
 <div class="container-fluid level_screen_Bg mt-5 pt-3">
   <div class="row justify-content-center mt-2">
     <img class="img-fluid" src="../../../assets/img/aviratalogo.jpg">
   </div>

   <div class="row justify-content-center mt-2">
     <h4 class="welcome-line">अविरत मध्ये आपले स्वागत !</h4>
   </div>

   <div class="row justify-content-center">
     <div class="flexContainer">
       <div class="">
         <div class="circle-icon">
           <i class="fa fa-check icon" aria-hidden="true"></i>
         </div>
         <div class="wrapper bg-grey">
           <div class="container">
             <div class="top">
               <h3 class="level-text text-center mt-4">टप्पा</h3>
               <img class="img-fluid" src="../../../assets/img/one.png">
             </div>
             <div class="bottom">

             </div>
           </div>
         </div>
         <div class="mt-5">
           <img class="img-fluid" src="../../../assets/img/certificate_1.png">
         </div>
       </div>

       <div>
         <div class="circle-icon">
           <i class="fa fa-check icon" aria-hidden="true"></i>
         </div>
         <div class="wrapper bg-grey">
           <div class="container">
             <div class="top">
               <h3 class="level-text text-center mt-4">टप्पा</h3>
               <img class="img-fluid" src="../../../assets/img/two.png">
             </div>
             <div class="bottom">
             </div>
           </div>
         </div>
         <div class="mt-5">
           <img class="img-fluid" src="../../../assets/img/certificate_2.png">
         </div>
       </div>
       <div>
         <div class="circle-icon bg-darkgreen">
           <i class="fa fa-check icon" aria-hidden="true"></i>
         </div>
         <div class="wrapper bg-green">
           <div class="container">
             <div class="top">
               <h3 class="level-text text-center mt-4">टप्पा</h3>
               <img class="img-fluid" src="../../../assets/img/three.png">
             </div>
             <div class="bottom">
             </div>
           </div>
         </div>
       </div>
     </div>

   </div>

   <div class="row justify-content-center mt-5">
     <!-- <div class="flexContainer">
      <div>
        <div class="certificate">
          <img class="img-fluid" src="assets/images/certificate_1.png">
        </div>
      </div>
      <div>
        <div class="">
          <img class="img-fluid" src="assets/images/certificate_2.png">
        </div>
      </div>
    </div> -->
     <!-- <div id="main">
        <div>
            <img class="img-fluid" src="assets/images/certificate_1.png">
        </div>
        <div>
            <img class="img-fluid" src="assets/images/certificate_2.png">
        </div>
        <div></div>
      </div> -->
   </div>
 </div>
