<div class="container-fluid loginBg">
    <div class="row justify-content-center">
      <img class="img-fluid avirata-logo" src="../../../assets/img/logo_cpd_combine_web.png">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
          <p class="logo-tagline">
         {{'L2NewLines.loginTitle' | translate}} <br>
          <span class="mt-2"><strong>{{'L2NewLines.logint2' | translate}} </strong></span>
          </p>
        </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card-group mb-0">
              <div class="card p-2">
                  <h1 class="mt-2 px-3">{{'L2NewLines.dashHeadLine_hello' | translate}}</h1>
                  <p class="text-muted px-3">{{'Login.Sign In to your account' | translate}}</p>
                  <div class="card-block card-border">
                    <form #loginForm="ngForm">
                        <div class="form-group">
                          <!-- <div class="input-group mb-1 row loginInput">
                            <input autocomplete="off" class="form-control ng-untouched ng-pristine ng-invalid" id="userName" name="userName" required="" type="text" ng-reflect-name="userName" ng-reflect-placeholder="ई मेल किंवा मोबाईल नंबर " placeholder="ई मेल किंवा मोबाईल नंबर ">
                          </div>
                          <div class="input-group mb-2 row loginInput">
                            <span class="input-group-addon">
                            <i class="icon-lock"></i></span>
                            <input class="form-control ng-untouched ng-pristine ng-invalid" id="passsword" name="password" required="" type="password" ng-reflect-name="password" ng-reflect-placeholder="पासवर्ड (अविरतचा)" placeholder="पासवर्ड (अविरतचा)">
                          </div> -->

                          <div class="input-group mb-3">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
                              </div>
                              <input type="text" id="userName" name="userName" class="form-control input_user" value="" [(ngModel)]="username" placeholder="Username" required>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                              </div>
                              <input type="password" id="pass" name="passWord" class="form-control input_pass" value=""
                                [(ngModel)]="password" placeholder="Password" (keyup.enter)="login();" required>
                            </div>

                          <div class="row">
                              <button class="btn password-link px-3" type="button">{{'Login.Forget Password' | translate}} ?</button>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="row px-3">
                                <button class="btn btn-primary btn-block btn-login px-3" type="button" [disabled]="!loginForm.valid || !disableLogin" (click)="login();">{{'Login.Log in' | translate}}</button>
                            </div>
                        </div>
                    </form>
                  </div>
              </div>
              <div class="card card-inverse card-primary pt-3 d-none d-sm-block" style="width:44%">
                  <div class="card-block text-center d-none d-sm-block">

                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- <div class="flex-container info-link">
          <ul>
            <li>अॅप डाउनलोड करण्यासाठी येथे क्लिक करा</li>
            <li><img class="img-fluid avirata-logo" src="assets/images/playstore.jpg"></li>
          </ul>
        </div> -->
        <div class="d-flex mt-5 justify-content-center">
            <div class="info-link text-white">
                <ul class="pad-0">
                    <li>{{'Login.appDownload' | translate}}</li>
                    <li class="text-center"><img class="img-fluid avirata-logo" src="../../../assets/img/playstore.jpg"></li>
                  </ul>
            </div>
            <div class="info-link text-white">
                <ul>
                    <li><strong>{{'Registration.Email' | translate}} </strong>: aviratahelp@gmail.com </li>
                    <li><strong>{{'Dashboard.Helpline Number' | translate}}</strong>: (०२०) ६७६८६७८८</li>
                  </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
