<div class="wrapper">
  <header class="app-header navbar">
    <div class="row w-100">
      <div class="col-6">
        <a class="navbar-brand-logo">
          <img src="./../../assets/img/logo_reg-page.png" alt="">
        </a>
      </div>
      <div class="col-6">
        <a class="btn btn-primary float-right text-white logoutBtn" (click)="logout()">
          <i class="fa fa-power-off" aria-hidden="true"></i> &nbsp;लॉग-आऊट
        </a>
      </div>
    </div>
  </header>
  <div class="level-wrapper">
    <div class="container">
      <div class="title text-center">
        <h4 class="long-shadow mar-bottom-0 mb-2">अविरत मध्ये आपले स्वागत</h4>
        <h5>कृपया अविरत प्रशिक्षणाविषयी पुढील सुचानासाठी अविरत समन्वयकांच्या संपर्कात रहा.</h5>
        <div *ngIf="noAccessFlag">
          <h6 class="mar-bottom-0 pad-top-75 line-height-75">
            <i class="fa fa-bell-o font-weight-bold"></i>&nbsp;{{ 'Dashboard.levelmsg1' | translate }}
            {{startDate| date:'dd-MM-yyyy'}}
            {{ 'Dashboard.to' | translate }} {{endDate| date:'dd-MM-yyyy'}}.
          </h6>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="!noAccessFlag">
        <div class="col-md-3" *ngIf="lvl1Current">
          <a class="custom-tooltip tooltip--triangle" href="{{setUrl}}" target="_blank">
            <div class="card" [class.card-success]='lvl1Current' [class.card-secondary]='!lvl1Current && !lvl1Complete'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl1Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl1Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl1Current && !lvl1Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>पहिला टप्पा</h6>
              </div>
              <div class="card-footer border-0">
                <p class="text-center" *ngIf="!lvl1Complete">
                  सुरु करा
                </p>
                <p *ngIf="lvl1Complete" class="text-center text-white">पूर्ण</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3" *ngIf="!lvl1Current">
          <a class="custom-tooltip tooltip--triangle" [attr.href]="lvl2Current ? setUrl : undefined"
            [attr.target]="lvl2Current ?  '_blank' : undefined" *ngIf="superAdminFlag">
            <div class="card" [class.card-success]="lvl2Current && lvl1Complete" [class.card-secondary]='!lvl2Current'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl1Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl1Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl1Current && !lvl1Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>पहिला टप्पा</h6>
              </div>
              <div class="card-footer border-0" [ngClass]="lvl2Current ? 'bg-success' : 'bg-gray'">
                <div *ngIf="true">
                  <p class="text-center p-1">
                    <!-- सुरु करा -->
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a class="custom-tooltip tooltip--triangle" *ngIf="!superAdminFlag">
            <div class="card card-secondary">
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl1Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl1Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl1Current && !lvl1Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>पहिला टप्पा</h6>
              </div>
              <div class="card-footer border-0 bg-gray"></div>
              <div class="card-footer border-0 bg-gray">
                <div *ngIf="true">
                  <p class="text-center">
                    <!-- सुरु करा -->
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3" *ngIf="lvl2Current">
          <a class="custom-tooltip tooltip--triangle"  href="{{setUrl}}" target="_blank">
            <div class="card" [class.card-success]='lvl2Current' [class.card-secondary]='!lvl2Current && !lvl2Complete'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl2Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl2Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl2Current && !lvl2Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>दुसरा टप्पा</h6>
              </div>
              <div class="card-footer border-0">
                <p class="text-center" *ngIf="!lvl2Complete">
                  सुरु करा
                </p>
                <p *ngIf="lvl2Complete" class="text-center">पूर्ण</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3" *ngIf="!lvl2Current">
          <a class="custom-tooltip tooltip--triangle">
            <div class="card card-secondary">
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl2Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl2Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl2Current && !lvl2Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>दुसरा टप्पा</h6>
              </div>
              <div class="card-footer border-0 bg-gray"></div>
              <div class="card-footer border-0 bg-gray">
                <div>
                  <p class="text-center">
                    <!-- सुरु करा -->
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3" *ngIf="lvl3Current">
          <a class="custom-tooltip tooltip--triangle" (click)="levelStatus(3)">
            <div class="card" [class.card-success]='lvl3Current' [class.card-secondary]='!lvl3Current && !lvl3Complete'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl3Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl3Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl3Current && !lvl3Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>तिसरा टप्पा</h6>
              </div>
              <div class="card-footer border-0">
                <p class="text-center" *ngIf="!lvl2Complete">
                  सुरु करा
                </p>
                <p *ngIf="lvl2Complete" class="text-center">पूर्ण</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3" *ngIf="!lvl3Current">
          <a class="custom-tooltip tooltip--triangle">
            <div class="card card-secondary">
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl3Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl3Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl3Current && !lvl3Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>तिसरा टप्पा</h6>
              </div>
              <div class="card-footer border-0 bg-gray"></div>
              <div class="card-footer border-0 bg-gray">
                <div *ngIf="true">
                  <p class="text-center">

                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

      <div class="row justify-content-center" *ngIf="userType!='superadmin' && userType!='admin'&& noAccessFlag">

        <div class="col-md-3">
          <a class="custom-tooltip tooltiptriangle">
            <div class="card" [class.card-success]='lvl1Current' [class.card-secondary]='!lvl1Current && !lvl1Complete'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl1Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl1Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl1Current && !lvl1Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>पहिला टप्पा</h6>
              </div>
              <div class="card-footer border-0 bg-gray"></div>
              <div class="card-footer border-0 bg-gray">
                <div>
                  <p class="text-center">
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-3 ">
          <a class="custom-tooltip tooltip--triangle">
            <div class="card" [class.card-success]='lvl2Current' [class.card-secondary]='!lvl2Current && !lvl2Complete'>
              <div class="card-block text-center text-white custom-block">
                <div *ngIf="lvl2Complete" class="icon"><i class="fa fa-check-circle fa-2x pb-2"></i></div>
                <div *ngIf="lvl2Current" class="icon"><i class="fa fa-unlock fa-2x pb-2"></i></div>
                <div *ngIf="!lvl2Current && !lvl2Complete" class="icon"><i class="fa fa-lock fa-2x pb-2"></i></div>
                <h6>दुसरा टप्पा</h6>
              </div>
              <div class="card-footer border-0 bg-gray"></div>
              <div class="card-footer border-0 bg-gray">
                <div *ngIf="true">
                  <p class="text-center">
                    <!-- सुरु करा -->
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="row pt-1 col-md-5 text-center mx-auto" *ngIf="certificate!=''">

    <table align="center" class="imagetable">
      <tr>
        <!-- <th align="center">Level</th> -->
        <th align="center">प्रमाणपत्र</th>
      </tr>
      <tr *ngIf="certificate.L1!=''">
        <!-- <td align="center">Level 1</td> -->
        <td align="center">
          <a class="downloadtable" href="{{pdfUrl}}L1/{{cLink}}/{{certificate.L1}}.pdf" target="_blank">
            अविरत टप्पा १: प्रमाणपत्र डाउनलोड करण्यासाठी येथे क्लिक करा. <i class="fa fa-download"
              aria-hidden="true"></i>
          </a>
        </td>
      </tr>
      <tr *ngIf="certificate.L2!=''">
        <!-- <td align="center">Level 2</td> -->
        <td align="center">
          <a class="downloadtable" href="{{pdfUrl}}L2/{{cLink}}/{{certificate.L2}}.pdf" target="_blank">
            अविरत टप्पा २: प्रमाणपत्र डाउनलोड करण्यासाठी येथे क्लिक करा. <i class="fa fa-download"
              aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
