<div>
    <!-- <app-new-baseline [passData]='passFlags' (exam2finish)="sendAnswer($event)"></app-new-baseline> -->
    <form #mcqForm="ngForm">
      <div class="card">
        <div *ngFor="let item1 of queArray1; let i = index">
        <div class="form-group" [class.d-none]="item1 != activeItem">
          <div class="card-header">
              <span>{{item1.question_type}}.</span>
            <label for="item.questionid ml-2">{{ item1.question }}</label>
            <span class="text-success float-right font-weight-bold">
              {{item1.question_type}} / 8
            </span>
          </div>
          <div class="card-body">
              <div class="dx-fieldset">
                  <div class="dx-field">
                      <div class="dx-field-value">
                          <dx-radio-group #eventRadioGroup id="mcq" [value]="type1Ans" [items]="priorities" (onValueChanged)="onValueChanged($event,item1.questionid,item1.question_type)">
                          </dx-radio-group>
                      </div>
                  </div>
              </div>

              <div *ngIf="freeTextFlag">
                <hr>
                <div *ngFor="let que of queArray2; let i = index">
                  <div class="form-group row" [class.d-none]="que != activeItem1">
                    <div class="col-sm-12">
                        <span>{{que.question_type}}.</span>
                      <label class="form-control-label ml-2" [innerHTML]="que.question"></label>
                    </div>
                    <div class="col-12 controls">
                      <textarea class="form-control" name="answer" [(ngModel)]="textanswer1" rows="3" #addr="ngModel" required></textarea>
                    </div>
                    </div>
                  </div>
                </div>
            <!-- <div *ngFor="let item of optionArray">
              <input type="radio" [name]="i" class="mcqClass" value={{type1Ans}}
                (change)="onValueChange($event, item.option,item1.questionid,item1.question_type)" required />
              <label class="ml-2">{{ item.value }}</label>
            </div> -->

     
          </div>
        </div>
      </div>
      
      <div class="card-footer text-center">
        <button class="btn btn-primary mr-3" [disabled]="onlyCnt == 1 || submitFlag || mcqForm.invalid" appPreventDoubleClick (debounceClick)="previous()">Previous</button>
        <button class="btn btn-primary" [disabled]="submitFlag || mcqForm.invalid" *ngIf="counter < 7" appPreventDoubleClick (debounceClick)="next();">Next</button>
        <button class="btn btn-success" [disabled]="submitFlag || mcqForm.invalid" *ngIf="counter === 7" appPreventDoubleClick (debounceClick)="finish2()">Finish</button>
      </div>
    </div>  
  </form> 
  </div>