<div *ngIf="mainFlagModule5 < 4">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule2_1.2_15' | translate}}</p>
      <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule5 == 4">
  <div class="instruction-wrap ins-block" *ngIf="!startPdf">
    <div>
      <div class="card">
        <div class="card-header">
          <span class="exp-img instructions-img"></span>
          <h5>
            {{'Quiz.note' | translate}}</h5>
        </div>
        <div class="card-block inst-text">
            <p>{{'number.1' | translate}}.&nbsp;{{'L2Instruction.inst_ppt1' | translate}}</p>
            <p>{{'number.2' | translate}}.&nbsp;{{'L2Instruction.inst_ppt2' | translate}}</p>
            <p>{{'number.3' | translate}}.&nbsp;{{'L2Instruction.inst_ppt3' | translate}}</p>
            <p>{{'number.4' | translate}}.&nbsp;{{'L2Instruction.inst_ppt4' | translate}}</p>
            <p>{{'number.5' | translate}}.&nbsp;{{'L2Instruction.inst_ppt5' | translate}}</p>
            <p class="color_red">{{'number.6' | translate}}.&nbsp;{{'L2Instruction.inst_ppt6' | translate}}</p>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-primary" appPreventDoubleClick
            (debounceClick)="startEvent()">{{'Login.Close' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="startPdf">
    <div class="card-footer">
      <h6 class="text-center">{{'L2Module5.subMenu5-4' | translate}}</h6>
    </div>
    <div class="card-block">
      <app-presentation [data]='docData' (ansCorrect)="checkAnswer($event)"></app-presentation>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule5 > 4">
  <div class="card">
    <div class="card-footer">
      <h6 class="lineHeight">
        <div class="text-center">{{'L2Module5.subMenu5-4' | translate}}</div>
      </h6>
    </div>
    <app-presentation [data]='passValues'></app-presentation>
  </div>
</div>
