<div *ngIf="mainFlagModule5 < 8">
    <div class="card">
        <div class="card-block">
            <p>{{'subModule3_1.3_2' | translate}}</p>
            <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
        </div>
    </div>
</div>

<div *ngIf="mainFlagModule5 == 8">
    <div *ngIf="subFlagModule5 == 1">
        <div *ngIf=" showVideoFlag ">
            <div class="card">
                <div class="card-footer">
                    <h6 class="text-center">{{'L2Module0.sub1-3_1' | translate}}</h6>
                </div>
                <div class="card-block">
                    <app-static-video [receivedData]='passData' (finishCall)="videoFinish($event)"></app-static-video>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="subFlagModule5 == 2">
        <div *ngIf="!showVideoFlag">
            <div class="instruction-wrap">
                <div class="card">
                    <div class="card-header text-white">
                        <span class="exp-img instructions-img"></span>
                        <h4>{{'Quiz.note' | translate}}</h4>
                    </div>
                    <div class="card-block inst-text">
                        <p [innerHTML]="'L2Module5.subMenu5-8_inst' | translate"></p>

                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <button class="btn btn-primary" appPreventDoubleClick
                                (debounceClick)="nextApiCall();">{{'Module4.start' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showVideoFlag">
            <div class="card">
                <div class="card-footer">
                    <h6 class="text-center"  [innerHTML]="'L2Module5.subMenu5-8-1_inst' | translate"></h6>
                </div>
                <div class="card-block text-center">
                   <a href="{{passValues.url}}" target="_blank" rel="noopener noreferrer">YouTube Link</a>
                   <!-- <a href="{{passValues.url}}" target="_blank" rel="noopener noreferrer">{{passValues.url}}</a> -->
                </div>
            </div>
            <div class="text-center list-checklist">
                <button type=" button " class="text-center btn btn-primary mt-2" 
                    data-toggle="modal " (click)="next(); ">{{'Stepper.Next' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="videoFinishModal videoFinishedModel">
    <div bsModal #instructionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <img class="img-responsive img-rotate" src="assets/img/mitra.png">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <p class="px-5 text-center">तुमचा व्हिडिओ पूर्ण झाला.</p>
                    <hr />
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary text-center" appPreventDoubleClick
                            (debounceClick)="nextvideo()">{{'Stepper.Next' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mainFlagModule5 > 8">
    <div class="card submoduleBox">
        <div class="card-block text-center greenText inst-text">
          <span>{{ "L2Module5Complete.sm_5_8" | translate }}</span>
        </div>
      </div>
</div>