<div *ngIf="mainFlagModule5 < 23">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule5_3.5_3' | translate}}</p>
      <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>
<div *ngIf="mainFlagModule5 == 23">
  <div *ngIf="subFlagModule5 == 1">
    <div *ngIf="showPart1Flag">
      <div>
        <app-new-baseline [passData]='passData'></app-new-baseline>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule5 > 23">

</div>
