<div *ngIf="mainFlagModule5 < 15">
  <div class="card">
    <div class="card-block">
      <p>{{'subModule3_1.3_2' | translate}}</p>
      <p><strong>{{'lock.note' | translate}}</strong>{{'lock.warn' | translate}}</p>
    </div>
  </div>
</div>

<div *ngIf="mainFlagModule5 == 15">
  <div *ngIf="!showVideoFlag">
    <div class="instruction-wrap">
      <div class="card">
        <div class="card-header text-white">
          <span class="exp-img instructions-img"></span>
          <h4>{{'Quiz.note' | translate}}</h4>
        </div>
        <div class="card-block inst-text">
          <p [innerHTML]="'L2Module5.subMenu5-8_inst' | translate"></p>

        </div>
        <div class="card-footer">
          <div class="float-right">
            <button class="btn btn-primary" appPreventDoubleClick (debounceClick)="start();">{{'Module4.start' |
              translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showVideoFlag">
    <div class="card">
      <div class="card-footer">
        <h6 class="text-center" [innerHTML]="'L2Module5.subMenu5-15-1_inst' | translate"></h6>
      </div>
      <div class="card-block text-center">
        <!-- <a href="{{passValues.url}}" target="_blank" rel="noopener noreferrer">{{passValues.url}}</a> -->
        <a href="{{passValues.url}}" target="_blank" rel="noopener noreferrer">YouTube Link</a>

      </div>
    </div>
    <div class="text-center list-checklist">
      <button type=" button " class="text-center btn btn-primary mt-2" data-toggle="modal "
        (click)="next(); ">{{'Stepper.Next' | translate}}</button>
    </div>
  </div>
</div>
<div *ngIf="mainFlagModule5 > 15">
  <div class="card submoduleBox">
    <div class="card-block text-center greenText inst-text">
      <span>{{ "L2Module5Complete.sm_5_15" | translate }}</span>
    </div>
  </div>
</div>