<div class="row imageArea mt-2 mb-4" [class.bg-white]="isLoaded">
  <div class="mx-auto" style="position:relative;">
    <pdf-viewer *ngIf="!isLoaded" [autoresize]="true" [original-size]="false" [fit-to-page]="true"
      style="display: block" [render-text]="true" class="embed-responsive-item pdfViewer" [src]="pdfURL"
      [show-all]="false"
      [page]="count" (after-load-complete)="afterLoadComplete($event)" (page-rendered)="pageRendered($event)">
    </pdf-viewer>
    <div class="loader-gif" *ngIf="isLoaded">
    <img [src]="loaderSrc" class="img-fluid" alt="">
    </div>
  </div>
  <div class="slide-control form-inline">
    <div class="mx-auto" *ngIf="!isLoaded && renderFlag">
      <div *ngIf="!buttonShowFlag && !showFinish" class="mx-auto">
        <button class="control ripple" (click)="prevPage()" [disabled]="count === 1">
          <em class="fa fa-arrow-left" aria-hidden="true"></em>
        </button>
        <span class="p-2">{{ count | numberConvertor : 'Devanagari'}} / {{ finalCount | numberConvertor : 'Devanagari'}}</span>
        <button class="control ripple" (click)="nextPage()" [disabled]="count === finalCount">
          <em class="fa fa-arrow-right" aria-hidden="true"></em>
        </button>
      </div>
      <div class="mx-auto" *ngIf="buttonShowFlag ">
        <span *ngIf="finalCount > 1">
          <button class="control ripple" (click)="prevPage()" [disabled]="count === 1">
            <em class="fa fa-arrow-left" aria-hidden="true"></em>
          </button>
        </span> 
        <button (click)="showCfuModal()" class="btn btn-primary">{{'Stepper.Next' | translate}}</button>
      </div>
      <div class="mx-auto" *ngIf="showFinish">
        <button class="control ripple" (click)="prevPage()" [disabled]="count === 1">
          <em class="fa fa-arrow-left" aria-hidden="true"></em>
        </button>
        <span *ngIf="data['unlockView'] == 'static'" class="p-2">{{ count | numberConvertor : 'Devanagari'}} / {{ finalCount | numberConvertor : 'Devanagari'}}</span>
        <button *ngIf="data['unlockView'] == 'static'" class="control ripple" disabled>
          <em class="fa fa-arrow-right" aria-hidden="true"></em>
        </button>
        <span *ngIf="data['unlockView'] != 'static'">
          <button (debounceClick)="finishPDF();" appPreventDoubleClick
            class="btn btn-primary">{{'Stepper.Finish' | translate}}</button>
        </span>
      </div>
      <div class="fullscreen float-right download-pdf" *ngIf="data['unlockView'] == 'static'">
        <span class="control ripple" id="download" *ngIf="downloadLink">
          <a href={{downloadLink}} class="c-pointer text-white" target="_blank" [download]="downloadLink">
            <em class="fa fa-download" aria-hidden="true"></em>
          </a>
        </span>
        <span class="control ripple" (click)="toggleMe()" id="Fullscreen">
          <em class="fa fa-arrows-alt text-right" aria-hidden="true"></em>
        </span>
      </div>
      <div class="float-right download-pdf" *ngIf="mySubModule2 == 16">
        <span class="control ripple" id="download" *ngIf="downloadLink">
          <a href={{downloadLink}} class="c-pointer text-white" target="_blank" [download]="downloadLink">
            <em class="fa fa-download" aria-hidden="true"></em>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="instructionModal newCFUPopup">
  <div bsModal #cfuModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h4>{{ 'Common.CFU' | translate }} </h4> -->
          <span class="exp-img instructions-img mt-4 m-0"
            [style.background-image]="'url(\'./../../../assets/img/expressions/instructions.png\')'"></span>
          <span class="rewards-content row w-100">
            <!-- <div class="col-md-2 col-sm-2 col-5 offset-md-7 offset-sm-7">
                  <img class="img-fluid" (click)="!fiftyFiftyFlag ? getRewards('fifty_fifty') : undefined"
                    [src]="rewardImgUrl1" alt="">
                </div>
                <div class="col-md-3 col-sm-3 col-6">
                  <img class="img-fluid" [ngClass]="!askMeFlag ? 'c-pointer' : 'c-not-allowed'"
                    (click)="!askMeFlag ? getRewards('askme') : undefined" [src]="rewardImgUrl2"
                    alt="">
                </div> -->
            <div class="col-md-8 col-sm-12 col-12">
              <h4 class="mt-3 ml-5">{{ 'Cfu.title' | translate }} </h4>
            </div>
            <div class="col-md-2 col-sm-6 col-5 text-right">
              <img class="img-fluid" [class.d-none]="hideMe" [ngClass]="!fiftyFiftyFlag ? 'c-pointer' : 'c-not-allowed'"
                [class.breathing]="!fiftyFiftyFlag"
                (click)="!fiftyFiftyFlag ? askMeshow('fiftyFiftyFlag') : undefined" [src]="rewardImgUrl1" alt="">
            </div>
            <div class="col-md-2 col-sm-6 col-5">
              <img class="img-fluid" [class.breathing]="!askMeFlag"
               [ngClass]="!askMeFlag ? 'c-pointer' : 'c-not-allowed'"
                (click)="!askMeFlag ? askMeshow('askMeFlag') : undefined" [src]="rewardImgUrl2" alt="">
            </div>
          </span>
          <!-- <button type="button" class="close" (click)="cfuModalHide();reset();" aria-label="Close" id="btnCloseModal">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body ml-5">
          <h5 class="mt-3" [innerHTML]="question"></h5>
          <div class="card-block mcqBlock">
            <div class="form float-left">
              <div class="dx-fieldset">
                <div class="dx-field">
                  <div class="dx-field-value">
                    <dx-radio-group [value]="selectedValue" #eventRadioGroup id="mcq" [items]="options"
                      (onValueChanged)="onValueChanged($event)">
                    </dx-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" appPreventDoubleClick [disabled]='!submitDisabled'
            (debounceClick)="submitAnswer()">{{'Cfu.submit' | translate}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>

<div class="ansCheckModal">
  <div bsModal #toasterPopupModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" [ngClass]="msgFlag ? 'modal-primary' : 'modal-danger'" role="document">
      <div class="modal-content">
        <div class="modal-header jusify-content-center" [style.background-color]="msgFlag ? '#259d58' : '#ef0505'">
          <span class="exp-img"
            [style.background-image]="msgFlag ? 'url(\'../../../assets/img/expressions/correct_ans.png\')' : 'url(\'../../../assets/img/expressions/wrong_ans.png\')'"></span>
          <!-- <span class="exp-img img-rotate" [style.background-image]="msgFlag ? 'url(\'../../../assets/img/mitra_1.png\')' : 'url(\'../../../assets/img/mitra.png\')'"></span> -->
          <!-- <h5 class="text-center" *ngIf="msgFlag==true">
                      <em class="fa fa-check"></em> &nbsp;&nbsp;
                      {{'McqTest.popupTitle1' | translate}}</h5>
                  <h5 class="text-center" *ngIf="msgFlag==false">
                      <em class="fa fa-times"></em> &nbsp;&nbsp;
                      {{'McqTest.popupTitle2' | translate}}</h5> -->
          <h5 class="text-center text-white mb-3" *ngIf="msgFlag==true">
            {{'McqTest.popupTitle1' | translate}}</h5>
          <h5 class="text-center text-white mb-3" *ngIf="msgFlag==false">
            {{'McqTest.popupTitle2' | translate}}</h5>
        </div>
        <!-- <div class="modal-body text-center" [style.border]="msgFlag ? '5px solid #4dbd74' : '5px solid #f86c6b'"> -->
        <div class="modal-body text-center" [class.d-none]="(mainFlagModule1==10 || mainFlagModule1==11 || mainFlagModule2==15 || mainFlagModule5==2 || mainFlagModule5==3 || mainFlagModule5==4 || mainFlagModule5==5 || mainFlagModule3==16 || mainFlagModule4==13) && msgFlag">
          <div *ngIf="msgFlag==true">
            <h6 class="congratulation inst-text mb-3 mt-2">{{'Errors.rightAns' | translate}}</h6>
          </div>
          <div *ngIf="msgFlag==false">
            <h6 class="congratulation inst-text mb-3 mt-2">{{'Errors.ansWrongGoBack' | translate}}</h6>
          </div>

        </div>
        <div class="modal-footer justify-content-center" [style.background-color]="msgFlag ? '#e7fff1' : '#ffeeee'">
          <button class="btn text-center mb-1 mt-2" [style.background-color]="msgFlag ? '#69cd93' : '#fa7d7d'"
            (click)="closeToasterPopup()">{{'McqTest.close' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="audioModal">
  <div bsModal #audioModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary mw-50" role="document">
      <div class="modal-content">
          <app-audio-player-component [src]="audioSrc" (finishAudio)="finishAudio($event)"></app-audio-player-component>
      </div>
    </div>
  </div>
</div>

<div class="askMeModal">
  <div bsModal #askMeModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
       <h5>{{'Cfu.giveAns' | translate}}</h5>
       <p>{{'Cfu.useCaution' | translate}}</p>
      </div>
      <div class="modal-footer justify-content-center">
         <button (click)="askMeModalHide()" class="btn btn-danger">{{'Cfu.no' | translate}}</button>
         <button (debounceClick)="helplineFlag == 'askMeFlag' ? getRewards('askme') : getRewards('fifty_fifty')" appPreventDoubleClick
           class="btn btn-success">{{'Cfu.yes' | translate}}</button>
      </div>
      </div>
    </div>
  </div>
</div>
